<template>
  <div class="d-flex">
    <div>
      <h3 class="title">CREATION</h3>

      <h4 class="font-weight-bold">Sur l’ordinateur</h4>
      <p>Dans l’épisode, Bintou explique quelques détails du cycle menstruel, et aussi les différentes parties de l’appareil masculin à Paulin :</p>
      <p>Explorez plus les phénomènes du cycle menstruel et
      les phénomènes de l’éjaculation et faites une présentation sur les mécanismes du cycle menstruel ou l’éjaculation.</p>
      <p><b>Étape 1 :</b> Lisez l’explication sur les phénomènes du cycle menstruel dans la
      <router-link :to="{ name: 'lesson', params: { id: 1, view: 'thematique' } }">Thématique</router-link>
      et dans les documents ci-dessous.</p>
      <p><b>Étape 2 :</b> Faites l'un des deux exercices suivant au choix : Cycle de menstruation ou éjaculation.</p>
      <h5>1. Cycle de menstruation : </h5>
      <p>Ouvrez <a   href="/ppt/cycle-menstruel.ppt">le modèle Powerpoint.</a><p>
      <p>Dans le modèle, il y a un calendrier pour le cycle de menstruation et trois images illustrant les différentes phases.
      Sur le calendrier nommez les différentes phases
      et ajoutez l'image correspondante. Note : Le cycle menstruel peut ne pas être régulier, il peut varier de 21 à 35 jours.
      Vous ne pouvez pas prendre appui sur votre propre cas.</p>
      <h5>2. Ejaculation : </h5>
      <p>Ouvrez <a href="/ppt/ejaculation.ppt">le modèle Powerpoint.</a>
      Dans le modèle, il y a un schéma de pénis. anoter-le !<p>
      <p><b>Étape 3 :</b> Si vous travaillez sur du papier, dessinez ou écrivez le calendrier et l’image comme sur l'exemple.
      Si vous travaillez avec l'ordinateur, vous trouverez les dessins dans le document.</p>

      <h4 class="font-weight-bold">Sur papier</h4>
      <p> Dans l’épisode Ruth, Assiba et Paulin ont parlé de leurs préoccupations sur les changements qui s’opèrent pendant la puberté.
      Mais ils se sont aussi donnés des conseils.</p>
      <p><b>Etape 1 :</b> Faites une liste de vos propres préoccupations en utilisant ces questions directrices :</p>
<ul>
<li>Quels changements physiques vous inquiètent le plus ?</li>
<li>Quels changements émotionnels vous inquiètent le plus ?</li>
<li>Comment ressentez-vous ces changements ?</li>
</ul>
      <p><b>Etape 2 :</b> Pensez à comment répondre aux préoccupations et identifiez des personnes ressources qui peuvent vous aider.</p>
      <p><b>Etape 3 :</b> Formulez une liste de conseils pour vos pairs en utilisant les idées de l’étape 2.
      Trouvez une façon de présenter ces conseils avec des phrases courtes, ou des slogans. </p>
      <p><b>Etape 4 :</b> Utilisez <a href="/ppt/Livre-puberte.ppt">ce document PowerPoint</a>
      ou travaillez sur le papier. Tout dans le style peut être modifié : les couleurs, les images et les polices, les images sous forme Internet, etc. </p>

    </div>

    <lessons-menu next-view="quiz" previous-view="echange" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
<style lang="scss" scoped>

</style>
