<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉCHANGE</h3>

      <h4 class="font-weight-bold">drôle de puberté</h4>
      <p>La puberté est une étape capitale dans la formation de la personnalité de l'être humain. A cet effet, il importe que chacun puisse maitriser les différents changements inhérents à cette étape de la vie.</p>
      <h5>Qu’est-ce que ça veut dire ?</h5>
      <p>Ça veut dire que la puberté est une phase de vie complètement normale entre les âges de 8-14 ans (parfois plus tôt, parfois plus tard), tout le monde expérimente des changements de corps, d’émotions et de comportements.</p>
      <p>Dans une discussion en groupe, essayez de parler des changements remarquables chez une jeune fille ou un jeune garçon pubère. Faites une présentation orale ou écrivez des résultats obtenus dans les groupes par les rapporteurs.</p>
      <p><b>Etape 1 :</b> Formez au moins 3 groupes de 5 personnes</p>
      <p><b>Etape 2 :</b> Répondez aux questions suivantes :</p>
      <ul>
        <li>Qu’est-ce que c’est que la puberté ?</li>
        <li>Quelles sont ses manifestations selon vous ?</li>
        <li>Quels sont les changements physiques qu’on observe lors de la puberté ?
          <ul>
            <li>Chez le garçon ?</li>
            <li>Chez la fille ?</li>
          </ul>
        </li>
        <li>Quels sont les changements psychologiques et comportementaux qu’on observe lors de la puberté ?</li>
      </ul>
      <p><b>Etape 3 :</b> Discutez et présentez les réponses aux questions avec la classe</p>
      <h4 class="font-weight-bold">Jeu de rôles</h4>
      <p>Dans le même épisode, vous avez vu que Ruth, Assiba et Paulin ont tous des changements émotionnels et comportementaux.Ruth avait peur de ses changements physiques et Assiba a raconté qu’elle était aussi terrifiée la première fois qu’elle a eu ses règles. <br>Paulin était aussi un peu perturbé par ses expériences nocturnes. Il demanda à Bintou si les garçons aussi avaient des règles.</p>
      <strong>Exemple :</strong>
      <p>Fina, une fillette de 11 ans est avec sa sœur Adjoua dans leur chambre.Tout en s’habillant pour l’école, Adjoua remarque les changements intervenus au niveau du corps de sa sœur. Elle se rappelle aussi que depuis un moment sa sœur est plus émotionnelle et plus rebelle que d’habitude. Face à ce constat, Adjoua se met à lui poser des questions.</p>
      <p><i>Fina, as-tu quelque chose à me dire ? Est-ce que tout va bien ?</i></p>
      <p>En prenant pour exemple ce contexte, si vous étiez Fina, que diriez-vous ? Et si vous étiez Adjoua, que répondriez-vous ?</p>
      <p><b>Étape 1 :</b> En groupes ouverts, composez une liste de changements physiques, émotionnels et comportementaux qui surviennent pendant l’adolescence.</p>
      <p><b>Etape 2 :</b> Choisir un binôme (deux exemples) pour représenter ou illustrer la scène. Former des groupes de 5-10 pour un travail collectif. Chaque groupe prend un changement physique, émotionnel et/ou comportemental.</p>
    </div>
    <lessons-menu next-view="creation" previous-view="thematique" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
