<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ENGAGEMENT</h3>

      <h4 class="font-weight-bold">Êtes-vous prêt à vous engager ? </h4>
      <p>Prenez l’engagement d’adopter une de ces déclarations.</p>
      <p>Un engagement est une déclaration formulée pour exprimer sa volonté à respecter une promesse.
      C’est une action personnelle et c'est donc à vous de choisir librement de vous engager.
      Au début, ce ne sera pas facile ! Mais n'abandonnez pas, essayez à nouveau jusqu'à ce que cela vienne naturellement.</p>
      <p>Vous pouvez venir avec vos propres engagements ou utiliser les suggestions ci-dessous:</p>
      <ul class="list-unstyled">
        <li>« JE SAIS QUE MON CORPS CHANGE À CAUSE DE LA PUBERTE.JE M’ENGAGE À ADOPTER UN COMPORTEMENT SAIN» ;</li>
        <li>« JE M’ENGAGE À BIEN ENTRETENIR MON CORPS PENDANT LES PERIODES MENSTRUELLES» ;</li>
        <li>« JE M’ENGAGE À ACCEPTER LES COMPORTEMENTS DE MES CAMARADES PENDANT LA PUBERTE» ;</li>
        <li>« JE M’ENGAGE À MIEUX CONTROLER MES ENVIES SEXUELLES» ;</li>
        <li>« JE M’ENGAGE À SUIVRE RIGOUREUSEMENT LES CONSEILS DE MES PARENTS EN PERIODE PUBERTAIRE» ;</li>
        <li>« JE M’ENGAGE À SENSIBILISER MES CAMARADES».</li>
      </ul>
    </div>
    <lessons-menu next-lesson="2" previous-view="retenir"/>
  </div>
</template>
<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
