<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉPISODE</h3>

      <video controls class="w-100">
        <source src="../../../assets/episode-1.mp4">
      </video>

      <div class="mt-3">
        <p>Dans l’épisode qui précède, Ruth a eu ses premières règles.
        Avec le soutien de ses amis et le conseil de l’infirmière Bintou, elle réussit à mieux comprendre les manifestations de
        la puberté ainsi que les changements physiques, psychologiques et comportementaux qui les accompagnent.
        </p>
        <h4>Questions</h4>
        <ul>
          <li>Que ferais-tu si tu étais à la place de Ruth ?</li>
          <li>Que sais-tu de la puberté ?</li>
          <li>Ressens-tu aussi les effets de la puberté dans ton corps ?</li>
        </ul>
      </div>
    </div>

    <lessons-menu next-view="thematique" previous-view="introduction"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
