<template>
  <div class="introduction1">
    <div>
    <h3>Objectifs de la leçon :</h3>
      <ul>
        <li>Comprendre les changements qui surviennent pendant la puberté ;</li>
        <li>Adopter des comportements sains et responsables pendant la puberté ;</li>
      </ul>

      <h3>Connaissances :</h3>
      <ul>
        <li>Connaître la définition de la puberté et ses manifestations ;</li>
        <li>Être averti des changements physiques, psychologiques <br>et comportementaux à l’étape de la puberté ;</li>
        <li>L’influence négative des mauvaises fréquentations ;</li>
        <li>Connaître le cycle menstruel de la fille.</li>
      </ul>
      <h3>Compétences :</h3>
      <ul>
        <li>Être capable d’entretenir son corps pendant la période de puberté ;</li>
        <li>Être capable d’aborder les tabous, les mythes, les curiosités et les hontes ;</li>
        <li>Être capable d’échanger avec ses parents sur les questions liées aux <br>transformations du corps ;</li>
        <li>Pouvoir gérer ses comportements pendant la puberté ;</li>
        <li>Pouvoir communiquer avec ses pairs sur le sujet.</li>
      </ul>
      <h3>Attitudes :</h3>
      <ul>
        <li>Prendre la responsabilité de suivre les conseils des parents et des éducateurs ;</li>
        <li>Être conscient des risques et responsabilités liés à la sexualité ;</li>
        <li>Prendre conscience des difficultés de la période pubertaire ;</li>
        <li>Cultiver la maîtrise de soi.</li>
      </ul>
      <router-link :to="{ name: 'lesson', params: { id: 1, view: 'episode' } }" class="btn btn-primary btn-lg mt-3">Commencer la leçon</router-link>
      <a class="btn btn-secondary btn-lg mt-3 ml-5" target="_blank" href="/Puberte/professeur.pdf">Professeurs</a>
    </div>
  </div>
</template>
<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
export default {
  components: {
    FontAwesomeIcon
  }
}
</script>
