<template>
    <div class="d-flex">
       <div>
          <h3 class="title">QUIZZ</h3>
          <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
          <p>Marquez si les phrases suivantes sont des mythes ou des réalités.</p>
          <div class="columns-two row align-items-stretch">
             <div class="col-6 pb-4">
                <p>Les premières règles sont provoquées par l’attouchement profond des organes génitaux de la fille ou un rapport sexuel avec pénétration.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">La première fois qu'une fille a un rapport sexuel du sang peut sécouler, cest dû à la rupture de l'hymen.Ce ne sont pas les premières règles ni le déclenchement de celles à venir.Les premières règles sont simplement dues à l'âge et à la maturité du corps, ça se déclenche sans intervention et à un moment différent pour chaque fille.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>A la puberté, il y a l’apparition et le développement des seins chez les jeunes filles et apparition des poils sur le pubis de la fille et du garçon.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
                  <span class="font-italic">C’est un développement naturel et parfaitement normal du corps. La puberté déclenche la production d’hormones préparant lentement le corps à la maturité sexuelle.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Un rapport sexuel pendant la période ovulatoire peut conduire à une grossesse.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
                  <span class="font-italic">C’est une période féconde chez la fille et si la grossesse n’est pas désirée il est important de prendre des précautions contraceptives afin de se protéger.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Ecraser les seins de la jeune fille dès leur apparition retarde leur développement.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">Une telle pratique n’est pas efficace et peut causer de grandes douleurs.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Avoirs plusieurs copines est signe de virilité chez le jeune garçon.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">Le sentiment d’amour est une belle chose qu’il faut respecter, quand on a un partenaire c’est la plupart du temps un sentiment qu’on ne se sent pas partager avec d’autres. Quand un garçon joue avec les sentiments exclusifs d’une fille, bien souvent elle se sent blessée. Imaginez la situation inverse, qu’en penseriez-vous ? Il ne faut pas faire aux autres ce que vous n’aimeriez pas qu’on vous fasse.</span>  
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>A la puberté, le jeune garçon et la jeune fille ressentent le désir de plaire.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité"> 
                  <span class="font-italic">A la puberté ce changement d’hormones dans notre corps nous donne envie de plaire aux autres. C’est tout à fait normal et bien souvent réciproque. Soyez patients et à l’écoute, n’oubliez pas de vous respecter l’un l’autre.</span>  
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Avoir un petit pénis est synonyme de non-performance au lit.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">Tout le monde est différent, et tout le monde s’il est à l’écoute de son/sa partenaire saura le/la satisfaire sexuellement.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Les règles sont une maladie contagieuse.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">Les premières règles sont simplement dues a l’âge et à la maturité du corps, ça se déclenche sans interventions et a un moment différent pour chaque fille.</span> 
                </TrueOrFalse>
             </div>
             <div class="col-6 pb-4">
                <p>Pour arrêter les règles douloureuses, une fille doit faire l’amour avec un garçon.</p>
                <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
                  <span class="font-italic">Le rapport sexuel peut être douloureux les premières fois et n’est pas lié à des règles moins douloureuses. Tenir une bouteille d’eau chaude contre le ventre peut aider temporairement quand la douleur est intense. Si vos douleurs sont très intenses, allez consulter un conseiller dans un centre planning familial.</span> 
                </TrueOrFalse>
             </div>
          </div>
          <p>
             <b>EXTRA :</b>
             Apres l’exercice, discutez les réponses. Est ce que certaines réponses vous ont surprises ?
             Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
             <router-link :to="{ name: 'lesson', params: { id: 1, view: 'echange' } }">Discussion</router-link>.
            
          </p>
          <h4 class="font-weight-bold">A ton avis</h4>
          <p>Individuellement ou en petits groupes, discutez les questions ci-dessous et écrivez votre opinion en 2-3 phrases complètes. </p>
          <ul>
             <li>Une amie te parle de ses règles douloureuses. Sais-tu ce que sont les menstrues ? Que lui conseilles-tu ?</li>
             <li>Ton cousin vient te parler de ses éjaculations nocturnes. Qu’est-ce que tu peux lui conseiller ? Avez-vous les mêmes expériences ?</li>
             <li>Est-ce que les menstrues sont un phénomène normal, à ton avis ?</li>
             <li>Que feras tu si tu as tes menstrues à l’école ?</li>
             <li>Ton amie t’informe de ce que ses menstruations durent plus de 5 jours. Que lui conseilleras tu ?</li>
             <li>Mets-tu des garnitures pendant les règles ? Si oui, laquelle d’entre elles ?</li>
          </ul>
       </div>
       <lessons-menu next-view="retenir" previous-view="creation" />
    </div>
 </template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import TrueOrFalse from '../../TrueOrFalse'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    TrueOrFalse
  }
}
</script>
