<template>
  <div class="d-flex">
    <div>
      <h3 class="title">RETENIR</h3>

      <p>Il arrivera à une période de votre vie où votre corps subira des transformations.</p>
      <p>A cette période vous constaterez des changements de votre corps tels que:</p>
      <ul>
        <li>le développement des seins et des organes génitaux, du bassin, l’apparition des poils ;</li>
        <li>l’apparition des premières règles chez la fille (le cas de Ruth dans la vidéo) ;</li>
        <li>l’émission du sperme (cas de Paulin dans la vidéo) et le développement des muscles chez le garçon.</li>
      </ul>
<p>
À ces moments vous serez exposé à des changements d’humeurs qui peuvent
changer vos attitudes, mais sachez que cela est normal. Vous serez attirés par le sexe
opposé mais soyez conscients que votre réussite scolaire garantit votre avenir. Soyez
fiers car vous êtes en train de devenir des hommes et des femmes et vous devez vous
préparer à être plus responsables. Evitez d`avoir des mauvaises fréquentations et
suivez plutôt les conseils de vos parents car les choix que vous ferez durant votre
puberté détermineront une grande partie de votre personnalité. Les filles Vous devez
maitriser votre cycle menstruel,
afin de mieux prendre soin de vous et d`éviter les grossesses précoces.
</p>
<p>Qu’est–ce qu’on peut apprendre du texte ci-dessus ? </p>
<p>relevez les informations importantes et comparez-les avec les messages clés de la thématique et des exercices :</p>
<p>Les changements qui s’opèrent durant l’adolescence ne se manifestent pas de la même manière et au même moment pour tous les individus.</p>
<p>Chacun a son propre rythme.</p>
<p>Il ne faut pas hésiter à poser des questions aux adultes familiers (parents, enseignants, éducateurs, etc.) sur les changements physiques, physiologiques et émotionnels que l’on vit.</p>
    </div>

    <lessons-menu next-view="engagement" previous-view="quiz"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
