<template>
  <div class="d-flex">
    <div>
      <h3 class="title">THÉMATIQUE</h3>

      <h4 class="font-weight">Qu’est-ce-que c’est que la Puberté ?</h4>
      <p>La puberté est la période de la vie où l’être humain passe de l’état d'enfant à celui d’adulte.</p>
      <h4 class="font-weight">Comment puis-je reconnaitre les manifestations de la puberté ?</h4>
      <p>
      Bonne question !<br> Chez les filles, la puberté commence avec l’apparition des seins, des poils, les acnés (boutons), puis la venue des premières règles.
      Tandis que chez les garçons, elle se manifeste par l’apparition des poils, les acnés (bouton) puis par l’émission nocturne de sperme.
      Les premières règles sont des écoulements sanguins périodiques provenant du sexe de la femme (vagin)
      Généralement, les jeunes filles ont leurs premières règles entre 8 et 14 ans.
      Les organes sexuels et les autres parties du corps évoluent, se développent et changent de fonctionnement.
      </p>
      <h4 class="font-weight">Quelle est la fréquence et la durée des règles ?</h4>
      <P>La survenance varie d’une personne à une autre. Elle est mensuelle et a une durée de 03 à 07 jours.</P>
      <h5>La puberté peut entraîner d’autres changements physiques, par exemple:</h5>
      <ul>
        <li>crampes des organes internes en particulier l’utérus ;</li>
        <li>accélération de la croissance, apparition des poils au niveau des aisselles et du pubis ;</li>
        <li>développement des organes génitaux.(vagin)</li>
      </ul>
      <h4 class="font-weight">La puberté entraîne aussi : Des changements psychologiques et comportementaux tels que :</h4>
      <ul>
        <li>la Pudeur ;</li>
        <li>la Coquetterie ;</li>
        <li>l’Attirance vers le sexe opposé ;</li>
        <li>le Changement d’humeur ;</li>
        <li>Agitation ;</li>
        <li>Affirmation de soi ;</li>
        <li>Narcissisme.</li>
      </ul>
      <p>Tous ces changements peuvent être effrayants, mais ne t’inquiète pas, ils sont complètement normaux ! Assure-toi d'être informé de cette étape de ta vie afin de pouvoir prendre de bonnes décisions. Si tu veux plus d’information, consultes les deux documents ci-dessous</p>
    </div>
    <lessons-menu next-view="echange" previous-view="episode" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
