<template>
  <div class="d-flex">
    <div>
      <h3 class="title">Carte</h3>
      <div class=" row">
        <div class="col">
          <div id="app">
            <v-zoom img="card.png" width="500" magnify="0.3"></v-zoom>
          </div>

        </div>
        <div class="col">
          <ol>
            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#un" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="un">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Cps Suru Léré Akpakpa <br> Tél: 94 31 12 31
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#deux" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="deux">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: OHEE Derrière la Stade René Pleven <br> Tél: 22 33 51 70
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trois" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="trois">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CEG1 Abomey-Calavi <br> Tél: 96 34 42 94
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quatre" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="quatre">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                      Adresse: Clinique de Référence, Sikecodji <br>  Tél:21 33 51 70
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#cinq" aria-expanded="false" aria-controls="collapseExample">
              CLINIQUE FIDJROSSE
              </a>
              <div class="collapse" id="cinq">
                <div>
                  <p>Consultations générales, Petites chirurgies, Maternité, Pédiatrie, Laboratoire.<br>
                Tél:95 28 13 11
                </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#six" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="six">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CEG Plateau de Womey  <br>  Tél: 96 34 42 90
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#sept" aria-expanded="false" aria-controls="collapseExample">
                STE THERESE DE L'ENFANT JESUS
              </a>
              <div class="collapse" id="sept">
                <div>
                  <p>Consultation générales, Consultation pré et post natales, Accouchement, Echographie.<br>
                Tél: 96 34 36 51-95 75 43 16
                </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#huit" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="huit">
                <div>
                    <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                      Adresse: CEG les Pylones d'Agla  <br>  Tél: 96 34 42 95
                    </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#neuf" aria-expanded="false" aria-controls="collapseExample">
                LA REDEMPTION
              </a>
              <div class="collapse" id="neuf">
                <div>
                  <p>soins curatifs, Maternité, Activités préventives, Pharmacie, pLANNING Familial<br>
                    Tél: 97 12 39 01-62 66 66 02
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#dix" aria-expanded="false" aria-controls="collapseExample">
                  ABMS/PSI
              </a>
              <div class="collapse" id="dix">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Marché Ouando <br> Tél: 61 93 36 04
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#onze" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="onze">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CEG dkp DE Porto-Novo <br>  Tél: 96 35 34 39
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#douze" aria-expanded="false" aria-controls="collapseExample">
                OSV Jordan
              </a>
              <div class="collapse" id="douze">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Centre multifonctionnel d'Adjohoun  <br>  Tél:94 84 23 55
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#treize" aria-expanded="false" aria-controls="collapseExample">
                OSV Jordan
              </a>
              <div class="collapse" id="treize">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Centre Convivial d'Affamè  <br> Tél:95 05 71 13
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quatorze" aria-expanded="false" aria-controls="collapseExample">
                Clinique sanitas
              </a>
              <div class="collapse" id="quatorze">
                <div>
                  <p>CPN, CPoN,Consultations générales, Pédiatrie, Echographie, Radiologie, Laboratoire.<br>
                    Tél:95 38 1 77-95 84 30 73
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quinze" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="quinze">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Bohicon  <br> Tél:95 05 71 13
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#seize" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="seize">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: GOHO <br> Tél:22 50 04 84
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#dix-sept" aria-expanded="false" aria-controls="collapseExample">
                CJAV
              </a>
              <div class="collapse" id="dix-sept">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: DASSA  <br> Tél: 96 23 50 06-61 93 36 06
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#dix-huit" aria-expanded="false" aria-controls="collapseExample">
              ABMS/PSI
              </a>
              <div class="collapse" id="dix-huit">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Maison du peuple de Dassa <br> Tél: 61 93 36 06
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#dix-neuf" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI 
              </a>
              <div class="collapse" id="dix-neuf">
              <div>
                <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                  Adresse: CPS Savalou  <br> Tél:62 57 35 26
                </p>
              </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="vingt">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CEG1 Savè <br> Tél: 61 93 36 07
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-un" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="vingt-un">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CPS Tchaourou <br> Tél: 61 00 92 28
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-deux" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="vingt-deux">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Arrondissement Bassila <br> Tél: 62 38 93 75
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-trois" aria-expanded="false" aria-controls="collapseExample">
                Université de Parakou
              </a>
              <div class="collapse" id="vingt-trois">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Tél:67 67 35 13
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-quatre" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="vingt-quatre">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: CEG Guèma de Parakou  Tél: 61 93 36 09
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-cinq" aria-expanded="false" aria-controls="collapseExample">
              ABPF
              </a>
              <div class="collapse" id="vingt-cinq">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Tranza <br> Tél: 23 61 05 59
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-six" aria-expanded="false" aria-controls="collapseExample">
                CJAV 
              </a>
              <div class="collapse" id="vingt-six">
                <div>
                  <p>
                    Prévention et Dépistage des IST/VIH, Dépistage du cancer du col de l'utérus.<br>
                    Adresse: DASSA  <br> Tél:96 23 50 06-61 93 36 06
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-sept" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="vingt-sept">
                <div>
                  <p>Traitements des ISTs, Fourniture de services de contraception dont l'accès aux préservatifs, jeux(Play-Station, Cyber-café; Jeux traditionnels).<br>
                    Adresse: Derrière STATION SONACOP N'Dali <br>  Tél:67 22 57 26
                  </p>
                </div>
              </div>
            </li>

            <li>

              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-huit" aria-expanded="false" aria-controls="collapseExample">
                Hopital de Zone SOUN
              </a>
              <div class="collapse" id="vingt-huit">
                <div>
                  <p>Médécine générale, Gynécologie, Pédiatrie, Petite chirurgie, Service de santé en reproduction.<br>
                    Tél: 95 89 24 46-95 29 93 25
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-neuf" aria-expanded="false" aria-controls="collapseExample">
                PSAMAO
              </a>
              <div class="collapse" id="vingt-neuf">
                <div>
                  <p>Infirmerie, Maternité, Pharmacie, Dépistage IST/VIH/SIDA, Planning Familial.<br>
                    Tél:94 11 13 91-64 86 02 30
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="trente">
                <div>
                  <p>Traitements des ISTs, Fourniture de services de contraception dont l'accès aux préservatifs, jeux(Play-Station, Cyber-café; Jeux traditionnels).<br>
                    CEG1 DJOUGOU  <br>  Tél:61 93 36 10
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-un" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="trente-un">
                <div>
                  <p>Traitements des ISTs,Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;jeux traditionnels).<br>
                    Yokossi  <br> Tél:23 82 11 92
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-deux" aria-expanded="false" aria-controls="collapseExample">
                CJAV 
              </a>
              <div class="collapse" id="trente-deux">
                <div>
                  <p>Prévention et Dépistage des IST/VIH.Dépistage du cancer du col de l'utérus.
                    CEG1 NATITINGOU  <br>  Tél:94 80 73 98-61 93 36 11
                  </p>
                </div>
              </div>
            </li>
            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-trois" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="trente-trois">
                <div>
                <p>Traitements des ISTs,Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;jeux traditionnels)
                  CPS de Natitingou <br>  Tél:61 93 36 12 
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-quatre" aria-expanded="false" aria-controls="collapseExample">
                ABMS/PSI
              </a>
              <div class="collapse" id="trente-quatre">
              <div>
                <p>Traitements des ISTs,Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;jeux traditionnels)
                  Maison des Jeunes Gogounou <br>  Tél:96 78 87 33
                </p>
              </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-cinq" aria-expanded="false" aria-controls="collapseExample">
                SAINT MICHEL
              </a>
              <div class="collapse" id="trente-cinq">
                <div>
                <p>Infirmerie, Maternité, Pharmacie, Dépistage IST/VIH/SIDA.Planning Familial<br>
                  Tél:94 11 13 91- 64 86 02 30
                </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-six" aria-expanded="false" aria-controls="collapseExample">
                PADRE PIO
              </a>
              <div class="collapse" id="trente-six">
                <div>
                  <p>Médécine générale, Gynécologie, Ophtamologie, Odonto, Stomalogie, Pédiatrie.<br>
                    Tél: 95 56 45 50
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-sept" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="trente-sept">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels)..<br>
                    Adresse: AGNIVEDJI <br> Tél: 22 41 11 54
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-huit" aria-expanded="false" aria-controls="collapseExample">
                OSV Jordan
              </a>
              <div class="collapse" id="trente-huit">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                   Adresse: Centre Convivial de Dogbo <br> Tél:64 65 91 45
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#trente-neuf" aria-expanded="false" aria-controls="collapseExample">
                OSV Jordan
              </a>
              <div class="collapse" id="trente-neuf">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                   Adresse: Centre Convivial d'Aplahoué <br> Tél:96 69 23 41
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quarante" aria-expanded="false" aria-controls="collapseExample">
                CMS ESPOIR VIE
              </a>
              <div class="collapse" id="quarante">
                <div>
                  <p>Médécine générale, Gynécologie, Pédiatrie, petite chirurgie, Service de santé en reproduction.<br>
                    Tél:97 25 98 98-64 80 63 72
                  </p>
                </div>
              </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quarante-un" aria-expanded="false" aria-controls="collapseExample">
                OSV Jordan
              </a>
              <div class="collapse" id="quarante-un">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Centre Convivial de Djakotomey <br>  Tél: 97 26 01 86
                  </p>
                </div>
              </div>
            </li>

            <li>
                <a class="btn " type="a" data-toggle="collapse" data-target="#quarante-deux" aria-expanded="false" aria-controls="collapseExample">
                  OSV Jordan
                </a>
                <div class="collapse" id="quarante-deux">
                  <div>
                    <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                      Adresse: Centre Convivial de Gbéko <br> Tél: 65 40 88 55
                    </p>
                  </div>
                </div>
            </li>

            <li>
              <a class="btn " type="a" data-toggle="collapse" data-target="#quarante-trois" aria-expanded="false" aria-controls="collapseExample">
                ABPF
              </a>
              <div class="collapse" id="quarante-trois">
                <div>
                  <p>Traitement des ISTs, Fournitures de Services de contraception dont l'accès aux préservatifs.jeux(Play-Station,Cyber-café;Jeux traditionnels).<br>
                    Adresse: Ouando-DJADO <br>  Tél: 20 24 78 14
                  </p>
                </div>
              </div>
            </li>

          </ol>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vZoom from 'vue-zoom'

export default {
  components: {
    vZoom
  }
}
</script>