<template>
  <div class="d-flex">
    <div class="glossaire">
  <h3 class="title">Glossaire</h3>
  <ol>
  <li>
    <a class="btn " type="a" data-toggle="collapse" data-target="#un" aria-expanded="false" aria-controls="collapseExample">
     Abstinence sexuelle
    </a>
    <div class="collapse" id="un">
      <div>
        <p>Ne pas avoir de comportement sexuel.</p>
      </div>
    </div>
  </li>
  <li>
  <a class="btn " type="a" data-toggle="collapse" data-target="#deux" aria-expanded="false" aria-controls="collapseExample">
   Abus sexuel
  </a>
<div class="collapse" id="deux">
  <div>
     <p>L'abus sexuel est tout contact ou toute interaction (visuelle, verbale ou psychologique) par lequel un adulte se sert d'un enfant ou d'un adolescent en vue d'une stimulation sexuelle, la sienne propre ou celle d'une tierce personne.</p>
  </div>
</div>
</li>
<li>
 <a class="btn " type="a" data-toggle="collapse" data-target="#trois" aria-expanded="false" aria-controls="collapseExample">
   Amour
  </a>
<div class="collapse" id="trois">
  <div>
     <p>Sentiment très intense, attachement englobant la tendresse et l’attirance physique entre deux personnes.</p>
  </div>
</div>
</li>
<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quatre" aria-expanded="false" aria-controls="collapseExample">
   Angoisse
  </a>
<div class="collapse" id="quatre">
  <div>
     <p>Sentiment de malaise ou de peur associé à une situation donnée.</p>
  </div>
</div>
</li>
<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinq" aria-expanded="false" aria-controls="collapseExample">
   Antirétroviral
  </a>
<div class="collapse" id="cinq">
  <div>
     <p>Médicament s'opposant au développement d'un rétrovirus, micro-organisme transmettant son matériel génétique en l'introduisant dans les cellules d'un individu appelé hôte, et responsable notamment de leucémies, de cancers, ou du sida.</p>
  </div>
</div>
</li>
<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#six" aria-expanded="false" aria-controls="collapseExample">
   APC
  </a>
<div class="collapse" id="six">
  <div>
     <p>Avortement provoqué clandestin </p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#sept" aria-expanded="false" aria-controls="collapseExample">
   Avortement ou Interruption Volontaire de Grossesse
  </a>
<div class="collapse" id="sept">
  <div>
     <p>L'IVG peut avoir lieu avant la fin de la 12ème semaine de conception (donc 14 semaines après le début des dernières règles). C'est une limite imposée par la loi.</p>
     <p>L'IVG se fait à l'hôpital ou dans un planning familial qui pratique l'avortement.</p>
  </div>
</div>
</li>
<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#huit" aria-expanded="false" aria-controls="collapseExample">
  Bisexualité
  </a>
 <div class="collapse" id="huit">
  <div>
    <p>On définit couramment la bisexualité comme le fait d’être attiré par ou d’éprouver des sentiments amoureux pour des personnes des deux sexes.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#neuf" aria-expanded="false" aria-controls="collapseExample">
 CDVA
</a>
<div class="collapse" id="neuf">
  <div>
    <p>Conseil du dépistage volontaire anonyme </p>
  </div>
</div>
</li>

<li>
  <a class="btn " type="a" data-toggle="collapse" data-target="#dix" aria-expanded="false" aria-controls="collapseExample">
    Clitoris
  </a>
<div class="collapse" id="dix">
  <div>
     <p>C'est un organe érectile situé à la partie supérieure de lavulve entre les petites lèvres. Il a une partie
extérieure de quelques millimètres et une plus profonde qui descend le long du vagin. Il est l'équivalent
du pénis de l'homme. Très richement innervé, il est à l'origine du plaisir sexuel féminin.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#onze" aria-expanded="false" aria-controls="collapseExample">
   Comportement sexuel
  </a>
<div class="collapse" id="onze">
  <div >
     <p>Ensemble des conduites sexuelles d’un individu, par exemple le fait d’embrasser quelqu’un, ou encore d’avoir des relations sexuelles.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#douze" aria-expanded="false" aria-controls="collapseExample">
   Comportement sexuel sécuritaire
  </a>
<div class="collapse" id="douze">
  <div>
     <p>Comportements sexuels incluant l’utilisation de contraception et de protection visant à réduire les risques d’une grossesse non planifiée ou d’attraper une ITSS.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#treize" aria-expanded="false" aria-controls="collapseExample">
   Contracter
  </a>
<div class="collapse" id="treize">
  <div>
     <p>Attraper ou être contaminé par une maladie ou une infection.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quatorze" aria-expanded="false" aria-controls="collapseExample">
  Contraception
  </a>
<div class="collapse" id="quatorze">
  <div>
    <p>Sous le terme contraception on désigne l'ensemble des moyens employés pour provoquer une infécondité temporaire chez la femme ou chez l'homme, c'est à dire les différentes méthodes qui ont pour but d'éviter une grossesse. De manière générale, les méthodes contraceptives agissent :</p>
    <ul>
  <li>en bloquant l'ovulation: c'est le cas de la pilule, de l'anneau vaginal, du patch;</li>
  <li>en empêchant la fécondation (rencontre entre spermatozoïdes et ovule): c'est le cas des préservatifs;</li>
  <li> en empêchant l'implantation d'un oeuf: c'est le cas du stérilet.</li>
  </ul>
  </div>
</div>
</li>

<li>
  <a class="btn " type="a" data-toggle="collapse" data-target="#quinze" aria-expanded="false" aria-controls="collapseExample">
   Cunnilingus
  </a>
<div class="collapse" id="quinze">
  <div>
      <p>Pratique sexuelle consistant à stimuler la vulve avec la langue, les lèvres ou la bouche.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#seize" aria-expanded="false" aria-controls="collapseExample">
   Défloration
  </a>
<div class="collapse" id="seize">
  <div>
      <p>Rupture de l'hymen lors d'une pénétration vaginale, sexuelle ou instrumentale. L'épreuve est redoutée parce qu'elle est réputée douloureuse et sanglante. En réalité, l'infinie variété anatomique de l'hymen ne permet jamais de prévoir dans quelles conditions il va s'effacer pour libérer les voies naturelles de la sexualité.</p>
  </div>
</div>
</li>

<li>
 <a class="btn " type="a" data-toggle="collapse" data-target="#dix-sept" aria-expanded="false" aria-controls="collapseExample">
   Dépistage
  </a>
<div class="collapse" id="dix-sept">
  <div>
      <p>(Test de): recherche systématique d’une maladie, d’un virus qui sont les facteurs d’une épidémie et des porteurs de cette maladie (voir aussi chapitre “En quoi consiste le dépistage du SIDA”).</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#dix-huit" aria-expanded="false" aria-controls="collapseExample">
  Dépuceler
  </a>
<div class="collapse" id="dix-huit">
  <div>
     <p>Equivalent argotique de la défloration depuis le XVIIe siècle. La langue contemporain des cités lui préfère désormais le verbe "dévierger", encore plus explicite.</p>
  </div>
</div>
</li>

<li>
 <a class="btn " type="a" data-toggle="collapse" data-target="#dix-neuf" aria-expanded="false" aria-controls="collapseExample">
 Éjaculation
  </a>
<div class="collapse" id="dix-neuf">
  <div>
     <p>Pour le garçon, l’éjaculation réfère à la sortie du sperme à l’extérieur du pénis.</p>
  </div>
</div>
</li>

<li>
 <a class="btn " type="a" data-toggle="collapse" data-target="#vingt" aria-expanded="false" aria-controls="collapseExample">
  Érection
  </a>
<div class="collapse" id="vingt">
  <div>
     <p>Réfère au gonflement et au durcissement du pénis lors de l’excitation sexuelle du garçon.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-un" aria-expanded="false" aria-controls="collapseExample">
  Érotisme
  </a>
<div class="collapse" id="vingt-un">
  <div>
      <p>L'érotisme fait référence à la recherche et à la satisfaction du désir et du plaisir sexuels. Les d'œuvres d'art tels que les romans, photos, sculptures, les situations et les accessoires qui rappellent le plaisir sexuel sont considérés comme érotiques.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-deux" aria-expanded="false" aria-controls="collapseExample">
Fellation
  </a>
<div class="collapse" id="vingt-deux">
  <div>
     <p>Pratique sexuelle consistant à stimuler le pénis avec la bouche, les lèvres ou la langue.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-trois" aria-expanded="false" aria-controls="collapseExample">
Gay
</a>
<div class="collapse" id="vingt-trois">
  <div>
    <p>Mot d’origine américaine qui se rapporte aux personnes, aux pratiques et à la culture homosexuelles, et en particulier les hommes.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-quatre" aria-expanded="false" aria-controls="collapseExample">
Genre
</a>
<div class="collapse" id="vingt-quatre">
  <div>
    <p>Le terme de genre a été transposé pour désigner le sentiment d’appartenance des individus à une identité féminine, masculine ou autre, indépendamment des caractéristiques biologiques</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-cinq" aria-expanded="false" aria-controls="collapseExample">
 Grossesse non planifiée ou Grossesse précoce
  </a>
<div class="collapse" id="vingt-cinq">
  <div>
    <p>Grossesse qui survient chez une fille alors que cette dernière ne s’y attendait pas. Cela arrive majoritairement lors des relations sexuelles non protégées.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-six" aria-expanded="false" aria-controls="collapseExample">
 Gynécologue
</a>
<div class="collapse" id="vingt-six">
  <div>
    <p>Médecin qui s'occupe de gynécologie, science des organes génitaux de la femme et des maladies qui leur sont propres.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-sept" aria-expanded="false" aria-controls="collapseExample">
 Hétérosexualité
  </a>
<div class="collapse" id="vingt-sept">
  <div>
  <p>Désir sexuel pour des individus de sexe opposé (par opposition à l’homosexualité</p>
  </div>
</div>
</li>

<li>
 <a class="btn " type="a" data-toggle="collapse" data-target="#vingt-huit" aria-expanded="false" aria-controls="collapseExample">
 Homosexualité
  </a>
<div class="collapse" id="vingt-huit">
  <div>
  <p>Une personne homosexuelle est une personne qui éprouve des sentiments amoureux ou de l’attirance envers des personnes du même sexe (une femme pour des femmes, un homme pour des hommes)</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#vingt-neuf" aria-expanded="false" aria-controls="collapseExample">
 Hymen
  </a>
<div class="collapse" id="vingt-neuf">
  <div>
  <p>Membrane qui se trouve à l'entrée du vagin.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente" aria-expanded="false" aria-controls="collapseExample">
  Infections sexuellement transmissibles
</a>
<div class="collapse" id="trente">
  <div>
  <p>Ces infections peuvent se transmettre entre partenaires au cours de contacts vaginaux(caresses) ou sanguins, de rapports oraux (fellation, cunnilingus), génitaux (caresse, pénétration) ou anaux (caresse, sodomie).</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-un" aria-expanded="false" aria-controls="collapseExample">
  Inceste
  </a>
<div class="collapse" id="trente-un">
  <div>
  <p>L’inceste c’est le fait d’avoir des relations sexuelles avec un membre de sa famille, alors que c’est
interdit. Ça fait partie des grands tabous de l’humanité. C’est une définition complexe qui peut avoir
différentes valeurs selon les cultures et les époques.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-deux" aria-expanded="false" aria-controls="collapseExample">
 IST
  </a>
<div class="collapse" id="trente-deux">
  <div>
  <p>Infection sexuellement transmissible. C’est-à-dire une infection pouvant se transmettre lors des rapports sexuels.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-trois" aria-expanded="false" aria-controls="collapseExample">
 ITSS
  </a>
<div class="collapse" id="trente-trois">
  <div>
  <p>Infections transmissibles sexuellement et par le sang.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#34" aria-expanded="false" aria-controls="collapseExample">
  Lesbienne
  </a>
<div class="collapse" id="34">
  <div>
 <p>Une lesbienne est une femme homosexuelle, qui éprouve des sentiments amoureux ou de l’attirance pour des femmes.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-quatre" aria-expanded="false" aria-controls="collapseExample">
  Lubrifiant
  </a>
<div class="collapse" id="trente-quatre">
  <div>
 <p>Produit liquide (eau, huile…) qui facilite la pénétration (dans le vagin ou l’anus) et qui atténue le frottement entre muqueuses.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-cinq" aria-expanded="false" aria-controls="collapseExample">
  Masturbation solitaire
  </a>
<div class="collapse" id="trente-cinq">
  <div>
 <p>Pratique sexuelle consistant à obtenir seul du plaisir sexuel en caressant ses organes génitaux.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-six" aria-expanded="false" aria-controls="collapseExample">
  Masturbation à 2
  </a>
<div class="collapse" id="trente-six">
  <div>
<p>Caresser le sexe de l’autre personne, sans pour autant qu’il y ait une pénétration ou contact des organes génitaux des deux partenaires.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-sept" aria-expanded="false" aria-controls="collapseExample">
   Mode de transmission
  </a>
<div class="collapse" id="trente-sept">
  <div>

    <p>Façons d’attraper une maladie ou une infection.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-huit" aria-expanded="false" aria-controls="collapseExample">
MST :
  </a>
<div class="collapse" id="trente-huit">
  <div>
  <p>Maladies Sexuellement Transmissibles.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#trente-neuf" aria-expanded="false" aria-controls="collapseExample">
Pénis
  </a>
<div class="collapse" id="trente-neuf">
  <div>
  <p>Ou la verge est, avec le testicule, le plus extériorisé des organes de l'homme, qui permet à la fois d'uriner et de pratiquer un acte sexuel.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante" aria-expanded="false" aria-controls="collapseExample">
Pédophilie
  </a>
<div class="collapse" id="quarante">
  <div>
  <p>Lorsque l’adulte impose des relations sexuelles à des enfants ou des adolescents à peine pubères, sans distinction de sexe. La pédophilie(abus sexuels, exploitation pornographique, tourisme sexuel ou toute autre forme de violence faite aux enfants afin de les contraindre aux rapports sexuels) est punie par la loi.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-un" aria-expanded="false" aria-controls="collapseExample">
Pilule du lendemain
  </a>
<div class="collapse" id="quarante-un">
  <div>
 <p>La pilule du lendemain ou 'contraception d'urgence' peut être utilisée par une fille après un rapport sexuel sans précaution (oubli de la pilule ou inefficacité de celle-ci et absence d'un préservatif ou déchirure de celui-ci) afin d'empêcher une grossesse éventuelle.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-deux" aria-expanded="false" aria-controls="collapseExample">
Préservatif
  </a>
<div class="collapse" id="quarante-deux">
  <div>
 <p>Le préservatif est un étui mince et souple, imperméable au sang ainsi qu'aux sécrétions vaginales et péniennes. Il en existe deux types: le préservatif masculin et le préservatif féminin, d'introduction plus récente. Le premier est aussi nommé condom en français nord-américain, ou plus familièrement capote ou capote anglaise en français européen.</p>
 <p>Le préservatif, correctement utilisé lors d'une relation sexuelle, est le seul contraceptif qui protège également des Infections Sexuellement Transmissibles (IST). Il est important de bien lire le mode d'emploi avant l'utilisation.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-trois" aria-expanded="false" aria-controls="collapseExample">
Polygamie
  </a>
<div class="collapse" id="quarante-trois">
  <div>
 <p>La polygamie est le régime familier permettant qu’une personne soit mariée avec plusieurs individus en même temps. Ce terme désigne aussi bien l’homme (s’il est marié avec plusieurs femmes) que la femme (si elle a plusieurs époux en même temps). Dans le cas de la femme, cette condition est dite aussi polyandrie, ce qui est très peu fréquent.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-quatre" aria-expanded="false" aria-controls="collapseExample">
Psychanalyse
  </a>
<div class="collapse" id="quarante-quatre">
  <div>
 <p>il s'agit d'une formation extrêmement spécifique, qui n'est pas organisée comme telle à l'université même si l'on y fait souvent référence dans les facultés de psychologie. C'est une formation beaucoup plus longue et beaucoup plus exigeante que la moyenne des psychothérapies puisqu'il faut une dizaine d'années pour former un analyste. La psychanalyse ne se substitue pas à une formation de base. Elle vient toujours en supplément d'une autre formation.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-cinq" aria-expanded="false" aria-controls="collapseExample">
Psychiatre
  </a>
<div class="collapse" id="quarante-cinq">
  <div>
 <p>Il s'agit d'une branche particulière de la médecine qui habilite à prescrire des médicaments psychotropes tels des antidépresseurs.</p>
  <p>Il faut donc être médecin pour être psychiatre. Certains psychiatres se sont encore davantage spécialisés: les neuropsychiatres, par exemple, ou les pédopsychiatres qui s'occupent particulièrement des enfants.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-six" aria-expanded="false" aria-controls="collapseExample">
Psychologue
  </a>
<div class="collapse" id="quarante-six">
  <div>
 <p>il s'agit d'une formation universitaire en psychologie qui peut se diriger vers divers domaines d'application: de l'école (l'apprentissage) à l'industrie (la gestion des ressources humaines). Cette formation peut aussi avoir diverses orientations: comportementaliste, cognitive, psycho-dynamique ou clinicienne.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-sept" aria-expanded="false" aria-controls="collapseExample">
Psychothérapeute
  </a>
<div class="collapse" id="quarante-sept">
  <div>
 <p>Ce terme désigne spécifiquement des personnes - le plus souvent des psychologues ou des médecins - dont l'objectif est de soulager la souffrance psychique par modalités de thérapies et de traitements. Cela dit, un peu n'importe qui peut se proclamer psychothérapeute, après avoir suivi une quelconque formation. A ce jour, le patient ne bénéficie encore d'aucune garantie à ce niveau.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-huit" aria-expanded="false" aria-controls="collapseExample">
Puberté
  </a>
<div class="collapse" id="quarante-huit">
  <div>
 <p>Période qui marque le passage de l’enfance à l’adolescence, accompagnée d’une série de transformations autant physiques, émotionnelles et psychologiques. L’avènement de la puberté est différent pour chaque personne.  Elle peut se manifester entre l’âge de 10 à 18 ans.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#quarante-neuf" aria-expanded="false" aria-controls="collapseExample">
Pubis
  </a>
<div class="collapse" id="quarante-neuf">
  <div>
 <p>C’est la partie du bas ventre juste au-dessus du sexe sur laquelle apparaissent des poils au moment de l’adolescence.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-deux" aria-expanded="false" aria-controls="collapseExample">
Pudeur
  </a>
<div class="collapse" id="cinquante-deux">
  <div>
    <p>Sentiment de gêne, de retenue face à ce qui touche la sexualité.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-trois" aria-expanded="false" aria-controls="collapseExample">
Règles
  </a>
<div class="collapse" id="cinquante-trois">
  <div>
   <p>Les menstruations appelées règles en général sont composées de sang et d'eau. Elles correspondent à
l'élimination de ce qui aurait pu servir de nid à un ovule fécondé. Chaque mois l'utérus prépare une
muqueuse neuve pour accueillir un ovule fécondé si besoin et sinon, cette muqueuseest éliminée, ce
sont lesrègles.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-quatre" aria-expanded="false" aria-controls="collapseExample">
Relation amoureuse
  </a>
<div class="collapse" id="cinquante-quatre">
  <div>
   <p>Relation comprenant généralement deux personnes, soit de sexe opposé ou de même sexe, qui sont attirées l’une envers l’autre.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-cinq" aria-expanded="false" aria-controls="collapseExample">
Relation orale génitale
  </a>
<div class="collapse" id="cinquante-cinq">
  <div>
   <p>Pratiques sexuelles au cours desquelles la bouche, la langue ou les lèvres stimulent la zone génitale féminine ou masculine.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-six" aria-expanded="false" aria-controls="collapseExample">
Relation saine
  </a>
<div class="collapse" id="cinquante-six">
  <div>
   <p>Nous sommes tous dépendants à un certain degré d&#39;amis, de mentors, de conjoints, et les hommes ont
les mêmes besoins de dépendance que les femmes. Le respect de soi-même est basique dans
unerelation saine. C&#39;est beaucoup plus facile que quelqu&#39;un d&#39;autre vous aime, quand vous vous aimez
vous-même..</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-sept" aria-expanded="false" aria-controls="collapseExample">
Séropositif
  </a>
<div class="collapse" id="cinquante-sept">
  <div>
<p>Se dit d’une personne dont le sang contient des anticorps dirigés contre un agent infectieux précis. En pratique, lors d’un dépistage du virus à VIH, lorsque l’étude des sérums sanguins indique une forte mise en évidence des anticorps VIH, la personne est séropositive. Elle est donc aussi porteuse du virus</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-huit" aria-expanded="false" aria-controls="collapseExample">
Séronégatif
  </a>
<div class="collapse" id="cinquante-huit">
  <div>
  <p>Qui n’est pas contaminé par le VIH</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#cinquante-neuf" aria-expanded="false" aria-controls="collapseExample">
Sexualité
  </a>
<div class="collapse" id="cinquante-neuf">
  <div>
  <p>Concerne chaque personne dans tout ce qu’elle est et représente l’ensemble des caractéristiques propres à chaque sexe. La sexualité n’est pas que génitale, elle comprend plusieurs dimensions, dont la dimension anatomique (corps humain), affective (émotions), psychologique (estime de soi), etc.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante" aria-expanded="false" aria-controls="collapseExample">
Signe et symptôme
  </a>
<div class="collapse" id="soixante">
  <div>
  <p>Indice permettant de voir l’apparition d’une infection ou d’une maladie.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-un" aria-expanded="false" aria-controls="collapseExample">
SIDA
  </a>
<div class="collapse" id="soixante-un">
  <div>
  <p>Syndrome d’Immuno Déficience Acquise (voir chapitre "Qu'est-ce que le SIDA")</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-trois" aria-expanded="false" aria-controls="collapseExample">
 Stéréotype
  </a>
<div class="collapse" id="soixante-trois">
  <div>
 <p>Image toute faite, caricaturée, des membres d’un groupe, qui nous est imposée par le milieu ou la culture, que l’on répète ou sur laquelle on agit sans jamais l’avoir soumise à un examen critique.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-quatre" aria-expanded="false" aria-controls="collapseExample">
 Stigmatiser
  </a>
<div class="collapse" id="soixante-quatre">
  <div>
 <p>Théorie sociologique selon laquelle un sujet reçoit de la société une "étiquette" aboutissant à ce que l'environnement attende de lui un type de comportement donné : pour soutenir sa cohésion interne, il est orienté vers un tel type de comportement, qui est par là-même renforcé et diminue sa liberté réelle dans une sorte de cercle vicieux.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-cinq" aria-expanded="false" aria-controls="collapseExample">
Syndrome
  </a>
<div class="collapse" id="soixante-cinq">
  <div>
 <p>Ensemble des signes caractérisant une maladie</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-six" aria-expanded="false" aria-controls="collapseExample">
Transgenre, transsexuelle
  </a>
<div class="collapse" id="soixante-six">
  <div>
 <p>Expression intime d’une personne qui considère que le genre attribué à sa naissance en fonction de son sexe est une description fausse ou incomplète d’elle-même</p>
  </div>
</div>
</li>
<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-sept" aria-expanded="false" aria-controls="collapseExample">
Vagin
  </a>
<div class="collapse" id="soixante-sept">
  <div>
 <p>Le vagin est le conduit musculaire qui part de la vulve (l'orifice génital) pour aller jusqu'à l'utérus. Il est obturé à sa partie supérieure par le col de l'utérus qui fait saillie.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-huit" aria-expanded="false" aria-controls="collapseExample">
 VIH
  </a>
<div class="collapse" id="soixante-huit">
  <div>
 <p>(ou HIV) Virus de l’Immunodéficience Humaine. Au sein de la cellule, il s’attaque notamment au fonctionnement du système immunitaire, système de défense naturel de l’organisme.</p>
  </div>
</div>
</li>

<li>
<a class="btn " type="a" data-toggle="collapse" data-target="#soixante-neuf" aria-expanded="false" aria-controls="collapseExample">
 Violence sexuelle
  </a>
<div class="collapse" id="soixante-neuf">
  <div>
 <p>Les violences sexuelles consistent à obliger une personne à subir, à accomplir ou à être confrontée à des actes d’ordre sexuel sans son libre consentement.</p>
  <p>Selon la loi, les violences sexuelles constituent des délits ou des crimes.</p>
  </div>
</div>
</li>
</ol>
</div>
</div>
</template>

<style lang="scss">
.collapse{
  padding-bottom:30px;
}
.btn{
  font-weight:500;
}
</style>
