<template>
  <div class="container pt-5 bgHome">
    <div class="row header">
      <div class="logo">
      <img class="logo" src="../assets/logoOrange.png" alt="MVMC logo"/>
      </div>
      <div class="ml-auto">
        <img class="partner" src="../assets/belgium-logo.png" alt="Belgium logo">
        <img class="partner" src="../assets/unfpa-logo.png" alt="UNFPA logo">
        <img class="partner" src="../assets/benin-logo.png" alt="Benin logo">
      </div>
    </div>
    <div class="text-center">
      <h1 class="my-5">Bienvenue sur cet outil e-learning d'Education à la Santé Sexuelle en Milieu Scolaire.</h1>
      <p><router-link to="orientation" class="btn btn-primary btn-lg">Accéder aux leçons</router-link></p>
    </div>
    <div>
      <img src="../assets/characters.png" alt="home-image" width="100%;" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.logo{
  cursor:pointer;
}
.header {
  line-height: 90px;

  img {
    max-height: 90px;
  }
}

.logo {
  height: 100px;
  line-height: 90px;
}

.partner {
  margin-left: 2rem;
  width: 80px;
}
.bgHome{
  background: url(../assets/bgHome.png);
}
</style>
