<template>
  <div class="d-flex">
    <div class="orientation">
      <p class="bienvenue font-weight-bold"> Bienvenue sur Ma Vie Mon Choix, l’outil e-learning d'éducation à la santé sexuelle en milieu scolaire.</p>
      <p  v-html="getQuote" class="quote text-center my-5"></p>
<p>Te pose tu des questions sur les changements de ton corps? <br> As-tu envie de connaître les droits et responsabilités liés à ta sexualité? <br> Aimerais tu savoir comment aider un ami en détresse? <br>
<span class="font-weight-bold">Alors te voilà au bon endroit.</span> 
</p>

<p>
Cette application est une série de leçons interactives sur les sujets de la puberté, l’estime de soi, les relations saines, la planification familiale et des infections sexuellement transmissibles. Ces leçons sont toutes illustrées par une courte animation mettant en scène des jeunes faisant face à leurs difficultés quotidiennes. Il est facile de suivre l’évolution de la leçon en utilisant le menu de progression à droite de la page. La structure de chaque leçon est la même :
</p>
<ul>
 <li>Episode : Courte animation illustrant le sujet de la leçon </li>
 <li>Thématique : Explications du sujet de la leçon </li>
 <li>Echanges : Activités visant à engager la discussion </li>
 <li>Création : Activités sur ordinateurs ou sur papier</li>
<li>Quizz : Liste de questions interactifs sur le sujet</li>
<li>A retenir : Quelques phrases pour clore le sujet</li>
<li>Engagement : Engagez personnellement vous à faire votre part</li>
</ul>
<p>Pour accéder aux informations complémentaires cliquez sur le bouton menu en haut à droite.</p>
<!-- <p>Pour toute autres informations ou questions visitez le site www… </p> -->
<p>Téléchargez l’application mobile et trouvez encore plus de sujets, d’animations et de quizz <a href="https://play.google.com/store/apps/details?id=com.etrilabs.mvmc" target="blank">sur ce lien <img src="../assets/logoMobile.png" class="imageApp mb-3" alt="">
 </a></p>
 <div>
    <p>Nous vous proposons aussi le site mobile <a href="http://trotrogaho.com/">Tro Tro Ga Ho!</a></p>
    <p>Ce site est destiné à tous ceux concernés ou touchés par les violences faites aux femmes et aux filles, qui veulent s’informer sur cette  thématique  et aider à combattre ce fléau au Bénin. <br>
      Sur <a href="http://trotrogaho.com/">trotrogaho.com</a> trouver: 
      <ul>
        <li>Des informations sur les droits des femmes et des filles</li>
        <li>La liste des services disponibles aux victimes</li>
        <li>Des messages éducatifs à partager à vos contacts pour les sensibiliser </li>
        <li>Des outils développés par des sources fiables qui peuvent être utilisés lors des activités de sensibilisation
        </li>
      </ul>
    </p>
 
 </div>

<p><router-link to="lessons" class="btn btn-primary btn-lg">Continuer</router-link></p>
  </div>
  </div>
</template>
<script type="text/javascript">
  export default {
  computed: {
    getQuote: function () {
      var quotesList = new Array();
      quotesList[0] = "<em>« Croyez en vos rêves et ils se réaliseront peut-être. Croyez en vous et ils se réaliseront sûrement. »</em> <br> <strong> — Martin Luther King</strong>";
      quotesList[1] = "<em>« Ce sont nos choix qui montrent qui nous sommes, bien plus que nos capacités. »</em> <br> <strong> — Joanne K.Rowling</strong>";
      quotesList[2] = "<em>« L'éducation est l'arme la plus puissante qu'on puisse utiliser pour changer le monde. »</em> <br> <strong> — Nelson Mandela</strong>";
      quotesList[3] = "<em>« Là où on s’aime, il ne fait jamais nuit. »</em> <br><strong> — Anonyme</strong>";
      quotesList[4] = "<em>« Celui qui veut réussir trouve un moyen. Celui qui ne veut rien faire trouve une excuse. »</em> <br> <strong> — Anonyme</strong>";
      quotesList[5] = "<em>« Tu peux laisser ton sourire changer les gens, mais ne laisse pas les gens changer ton sourire. »</em> <br> <strong> — Anonyme</strong>";
      quotesList[6] = "<em>« La langue qui fourche fait plus de mal que le pied qui trébuche »</em> <br><strong> — Anonyme</strong>";
      quotesList[7] = "<em>« On est plus le fils de son époque que le fils de son père »</em> <br><strong> — Anonyme</strong>";
      return quotesList[Math.floor(Math.random() * quotesList.length)]
    }
  }
}
</script>
<style>
.quote em{
  font-size: 1.3rem;
}
.imageApp{
  width: 2rem;
}
.bienvenue{
  font-size: 2rem;
}
</style>
