<template>
  <div class="d-flex">
<div>
<h3 class="title">PARENT</h3>
<p> Nous sommes tous passé par cette phase fragile qu’est la puberté. Tout comme nous à l’époque, nos enfants sont confrontés à des changements hormonaux et physiques qui les rendent plus curieux et prêt à explorer leur sexualité. Cette phase de transition présente un risque s’ils n’ont pas accès à des informations concrètes. C’est afin de protéger leur avenir et leur santé que nous nous devons de les aider à s’éduquer sur les réalités et les risques que présentent cette transformation. </p>
<p>D’où l’importance de la plateforme «Ma Vie,Mon Choix» qui a pour objectif de :</p>
<ul>
  <li>Répondre aux questions que les adolescents se posent sur la sexualité.</li>
  <li>Faciliter l’accès pour tous à des informations fiables sur la sexualité</li>
  <li>Offrir aux parents des méthodes adéquates pour aborder les questions de sexualité avec leurs enfants.</li>
  <li>Orienter les parents et enfants vers les centre prise en charge en matière de santé sexuelle et reproductive.</li>
</ul>
<p>Entant que parents c’est notre instinct de vouloir protéger notre enfant de tout risques. Mais éduquer notre enfant c’est aussi le/la préparer à faire face seul(e) aux dangers que la vie mettra sur sa route. Par amour pour eux, nous nous devons d’ouvrir notre horizon et d’accompagner nos enfants dans leur transition vers l’âge adulte. </p>
<p>Par où commencer?</p>
<ul>
<li>Etablissez un lien de confiance avec votre enfant dès le plus bas âge. Ça lui permettra de se confier à vous en cas de problèmes.</li>
<li>Renseignez-vous sur la santé sexuelle et reproductive afin de pouvoir conseiller votre enfant.</li>
<li>C’est avant la puberté qu’il faut lever le voile sur les mythes et les réalités liés à la sexualité. </li>
<li>La puberté est une période au cours de laquelle l’enfant doit être suivi et accompagné dans leur développement vers la maturité. </li>
</ul>
</div>
</div>
</template>
