<template>
  <div class="d-flex">
    <div>
      <h3 class="title">CREATION</h3>

      <h4 class="font-weight">Sur l’ordinateur</h4>
      <p>
      « Chacun de nous est spécial et meilleur dans un domaine plus que d’autres. Concentre-toi sur tes capacités.
      Rien n’est à exclure, pense aux sports ou aux sujets scolaires dans lesquels tu excelles. Ça y est tu as en tête ce qui te rend particulier(ère).
      Ça devient ton atout pour la réussite ! C’est bien ça, te voilà en possession de repère pour évoluer en développant tes aptitudes cachées. »
      </p>
      <p><b>Étape 1 :</b> Sur l’ordinateur écris plusieurs domaines dans lesquels tu excelles.</p>
      <p><b>Étape 2 :</b> En t’inspirant de ce que tu viens d’écrire, choisis-toi le nom d’un citoyen modèle.
      Ensuite, toujours en t’inspirant de ce que tu as écris définis au moins une de ses capacités.
      Enfin quel est cette super aptitude cachée que personne ne connaît encore chez toi et qui te rend fier ? </p>
      <p><b>Étape 3 :</b> Prend le temps de visualiser ton image de citoyen modèle en employant un programme de dessin ou de graphisme,
      incorpore tous les éléments que tu as définis dans l’étape 2 dans ta représentation visuelle.</p>
      <p><b>Étape 4 :</b> Si possible, imprime ton travail et présente-le à tes camarades de classe.
      Ça fait du bien de se sentir super n’est-ce pas ?</p>
      <p><b>Étape 5 :</b> En petits groupes envisagez comment combiner vos aptitudes ou capacités. Créez une super alliance et nommez votre groupe.</p>
      <p><b>Étape 6 :</b> Ensemble dessinez un blason pour votre alliance et envisagez quelques scénario ou vous employez toutes vos compétences.
      Soutenez-vous dans ce qui vous rend particulier et portez assistance à ceux qui ont besoin de vous !!
      </p>

      <h4 class="font-weight">Sur papier</h4>
      <p>Le premier pas pour améliorer l’estime de soi est d’apprendre à se connaître.
      Imagine que tu es un puzzle et que chaque pièce est un petit bout de "ta personne". À quoi ressemblerait ton puzzle aujourd’hui ?
      Par exemple, illustre des parties de ton corps qui te rendent fier. Tu peux aussi dessiner tes compétences,
      les sports ou les sujets d’écoles dans lesquels tu es bon, les choses ou les représentations des personnes qui te rendent heureux.
      Tout est possible !</p>
      <p>Complétez à l’aide de dessins ou de textes les différentes parties du Puzzle comme celle cidessous:
     (Ajouter l’image du puzzle)</p>
    </div>

    <lessons-menu next-view="quiz" previous-view="echange" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
