<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉCHANGE</h3>

      <h4 class="font-weight">Identifier ses talents</h4>
      <p>Cette activité vous permettra de voir votre côté brillant plus clairement, en regardant
      les choses que vous faites bien et ce que vous appréciez chez vous.
      </p>
      <p><b>Étape 1 :</b> Téléchargez la feuille « Mes talents » et ouvrez-la. Ou si vous travaillez sur papier, faites un tableau avec deux colonnes. En tête de la première colonne écrivez "Ce que je fais bien" et au sommet de la deuxième colonne écrivez "Ce que j'aime chez moi".</p>
      <p><b>Étape 2 :</b> Ecrivez au moins cinq talents particuliers dans chaque colonne.</p>
      <p><b>Étape 3 :</b> Présentez aux trois groupes les détails de chaque colonne, six au total.
      Il faut écouter attentivement et avec respect ce que les autres expriment. C’est important pour amener vos pairs à partager avec vous des sujets personnels.
      Nous sommes tous spéciaux et uniques!
      </p>

      <h4><b>Jeu de rôles</b></h4>
      <p>
      Ola et Sourou sont à l'école avec des camarades de classe. Un camarade de classe commence à se moquer du côté timide de Sourou.</p>
      <p>« Tu es tellement timide que les filles regardent à travers toi, ce n’est pas demain la veille du jour où tu te trouveras une petite copine,
      haha Sourou l’invisible ! ».</p>
      <p>Ola choquée prend alors la défense de son petit frère mais cela ne fait qu’attirer l’attention des autres sur elle.</p>
      <p>« En tout cas toi on ne peut pas te rater, face de boutons ! haha »</p>
      <p>Ola et Sourou se retirent sous les rires des camarades de classe. C’est alors qu’un élève plus âgé qu’ils ne connaissent pas s’approche.</p>
      <p>« Alors les souffre-douleurs, il faut vous faire respecter là ! Tu sais ce qui marche bien ?! Fumer ça c’est la classe !
      Ça te donne confiance en toi. Tiens essayes… »</p>
      <p>
      <b>Étape 1 : </b>En classe, dressez une liste des différentes caractéristiques  du corps et de la personnalité qui composent l'estime de soi.
      </p>
      <p><b>Etape 2 :</b> Choisissez un binôme (deux exemples) pour représenter ou illustrer la scène.
      Formez des groupes de 5-10 pour un travail collectif.  Si vous avez accès à des ordinateurs, choisissez une personne dans le groupe qui sera le rapporteur.
      Chaque groupe prend 2 aspects différents des autres groupes, composant leur vision de l’estime de soi  utilisez le scenario ci-dessus pour guider la discussion.
      </p>

      <p><b>Etape 3 :</b> Répondez aux questions suivantes :
      <ul>
        <li>Citez les personnages de la scène</li>
        <li>Quels sont les éléments du scénario ci-dessus qui caractérise l’estime de soi ?</li>
        <li>Comment l’estime de soi de Ola et Sourou est-elle affectée ?</li>
        <li>Qu’est ce qui explique le comportement des camarades de Ola et Sourou ?</li>
      </ul>
      </p>
      <p><b>Étape 4 :</b> Avec cela, préparez par groupe un petit jeu de rôle. Répartissez-vous les rôles et imaginez comment finir l’histoire.</p>
      <p><b>Étape 5 :</b> Chaque groupe présente son jeu de rôle devant les autres groupes.</p>
      <p><b>Étape 6 :</b> Quand tous les groupes auront fini leur présentation, donnez vos impressions ou menez une discussion sur le jeu de rôles :
      <ul>
        <li>Est-ce que vous vous reconnaissez dans cette histoire ?</li>
        <li>Est-ce que cela traduit la réalité ?</li>
        <li>Avez-vous une autre fin pour l’histoire ?</li>
      </ul>
      </p>
    </div>
    <lessons-menu next-view="creation" previous-view="thematique"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
