<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ENGAGEMENT</h3>

      <h4>Êtes-vous prêt à vous engager ?</h4>
      <p>Prenez l’engagement d’adopter une de ces déclarations.</p>
      <div>
        Un engagement est une déclaration formulée pour exprimer sa volonté à respecter une promesse.
        C’est une action personnelle et c'est donc à vous de choisir si vous voulez vous engager ou pas et comment vous souhaitez le faire.
        Au début, vous aurez besoin de pratique ! Mais n'abandonnez pas, essayez à nouveau jusqu'à ce que cela vienne naturellement.
      </div>
      <p>Vous pouvez créer vos propres engagements ou utiliser les suggestions ci-dessous.</p>
      <p>JE M'ENGAGE À:</p>
      <ul class="list-unstyled">
      <li>« PRENDRE CONSCIENCE DE L’IMPORTANCE D’AVOIR DU RESPECT POUR CHAQUE PERSONNE. »</li>
      <li>« PRENDRE CONSCIENCE QUE CHAQUE ETRE HUMAIN EST UNIQUE.»</li>
      </ul>
    </div>
    <lessons-menu next-lesson="3" previous-view="retenir" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
