<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉPISODE</h3>
       <video controls class="w-100">
        <source src="../../../assets/assiba.mp4">
      </video>
      <div class="mt-3">
        <p>
        Dans cet épisode, Assiba s’est inscrite aux concours de beauté ’’Miss’’ du collège.
        Elle est nerveuse parce qu'elle est embarrassée par la taille de ses seins. Assiba pense que la prise de médicaments l'aidera.
        Grâce au soutien de ses amis, Assiba se rend compte qu'elle n'a pas besoin de changer son corps pour se sentir belle.
        Assiba apprend à s’apprécier et prend confiance en elle.
        </p>
        <p>Questions</p>
        <ul>
          <li>Que ferais-tu si tu étais à la place d’Assiba et pourquoi ?</li>
          <li>Que sais-tu des substances qu’Assiba avait l’intention d’utiliser ?</li>
          <li>A l’instar de Assiba et de Lina, quel aspect de ta personne, a été déjà objet de moqueries de la part de tes camarades ?</li>
          <li>Que pensez-vous de la justification faite par Paulin de sa nouvelle coiffure ?</li>
        </ul>
      </div>
    </div>

    <lessons-menu next-view="thematique" previous-view="introduction"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
