<template>
  <div class="introduction2">
  <div>
      <h3>Objectifs de la leçon :</h3>
    <ul>
      <li>Réagir face à la pression sociale ;</li>
      <li>Résister à l’usage des stupéfiants et autres produits psychotropes ;</li>
      <li>Faire preuve de Dignité / respect.</li>
    </ul>
    <h3>Connaissances :</h3>
    <ul>
      <li>Importance du respect de soi et de l’estime de soi ;</li>
      <li>Comprendre que Chaque être humain est unique.</li>
    </ul>
    <h3>Compétences :</h3>
    <ul>
      <li>Etre capable d’identifier ses forces (talents) et faiblesses (limites) ;</li>
      <li>cultiver son estime de soi et son expression de soi ;</li>
      <li>Renforcer les capacités de confiance en soi.</li>
    </ul>
    <h3>Attitudes :</h3>
    <ul>
      <li>Avoir du respect pour chaque personne ;</li>
      <li>Prendre conscience que nous sommes tous des êtres uniques (en tant que personne) ;</li>
      <li>Refléter les connaissances acquises sur sa personnalité.</li>
    </ul>
    <router-link :to="{ name: 'lesson', params: { id: 2, view: 'episode' } }" class="btn btn-primary btn-lg mt-3">Commencer la leçon</router-link>
    <a class="btn btn-secondary btn-lg mt-3 ml-5" target="_blank" href="/Estime/professeur.pdf">Professeurs</a>
  </div>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
export default {
  components: {
    FontAwesomeIcon
  }
}
</script>
