<template>
  <div class="d-flex">
    <div>
      <h3 class="title">QUIZZ</h3>

      <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
      <div class="columns-two row align-items-stretch">
        <div class="col-6 pb-4">
          <p>1. Parfois l’autre dit des choses pour me blesser, comment réagir ?</p>
          <MultipleChoice input-name="blesser">
            <span slot="label">Crier très fort pour l'arrêter</span>
            <p slot="explanation">Une réaction violente et ne fera qu’envenimer la situation </p>
          </MultipleChoice>
          <MultipleChoice input-name="blesser" correct="true">
            <span slot="label">Lui dire que je ne suis pas d'accord avec son attitude</span>
            <p slot="explanation">Avoir une attitude calme et respecter ses limites en les communiquant clairement est une communication plus efficace  </p>
          </Multiplechoice>
          <MultipleChoice input-name="blesser">
            <span slot="label">Le/la quitter tout de suite</span>
            <p slot="explanation">Il/elle n’apprendra rien de cette expérience et reproduira certainement cette attitude irrespectueuse</p>
          </MultipleChoice>
          <MultipleChoice input-name="blesser">
           <span slot="label">La/le critiquer sur ses points faibles, ça lui apprendra !</span>
           <p slot="explanation">Une réaction violente et ne fera qu’envenimer la situation </p>
          </MultipleChoice>
        </div>

        <div class="col-6 pb-4">
          <p>2. Par amour, il faut être prêt à...</p>
          <MultipleChoice input-name="amour">
            <span slot="label">Tout quitter</span>
            <p slot="explanation">Il faut savoir rester intègre avec soi-même, ce n’est pas en quittant tout par amour qu’on établit une bonne estime de soi. </p>
          </MultipleChoice>
          <MultipleChoice input-name="amour">
            <span slot="label"> changer</span>
            <p slot="explanation">Il faut savoir rester intègre avec soi-même, ce n’est pas en changeant tout par amour qu’on établit une bonne estime de soi. </p>
          </MultipleChoice>
          <MultipleChoice input-name="amour">
            <span slot="label">Tout oublier</span>
            <p slot="explanation">Il faut savoir rester intègre avec soi-même, ce n’est pas en oubliant tout par amour qu’on établit une bonne estime de soi. </p>
          </MultipleChoice>
          <MultipleChoice input-name="amour" correct="true">
            <span slot="label">Toujours se respecter</span>
            <p slot="explanation">C’est en se respectant qu’on établit une estime de soi saine. Cette attitude est la meilleure à adopter pour que l’amour soit équilibré et dure dans le temps. </p>
          </MultipleChoice>
        </div>

        <div class="col-6 pb-4">
          <p>3. L’estime de soi, ça veut dire...</p>
          <MultipleChoice input-name="estime">
            <span slot="label">Etre le plus populaire de ma classe</span>
            <p slot="explanation">Etre populaire n’est pas forcément lié à une bonne estime de soi. On peut être populaire pour sa force physique et manquer de confiance en soi. </p>
          </MultipleChoice>
          <MultipleChoice input-name="estime">
            <span slot="label">Etre le plus beau/belle de ma classe</span>
            <p slot="explanation">On peut être apprécié pour sa beauté physique et être déprimé ou malheureux(se) a l’intérieure. </p>
          </MultipleChoice>
          <MultipleChoice input-name="estime" correct="true">
            <span slot="label">Avoir confiance en moi et être fier de qui je suis</span>
            <p slot="explanation">Pour être heureux et en accord avec notre personnalité il faut commencer par s’apprécier comme on est </p>
          </MultipleChoice>
          <MultipleChoice input-name="estime">
            <span slot="label">Toujours s'assurer que tout le monde sait que je suis le meilleur</span>
            <p slot="explanation">Chercher la confirmation de notre valeur chez les autres est un signe de manque de confiance en soi.  </p>
          </MultipleChoice>
        </div>

        <div class="col-6 pb-4">
          <p>4. Je peux reconnaître une estime de soi saine par...</p>
          <MultipleChoice input-name="saine">
            <span slot="label">Un camarade de classe qui insulte les autres et fait rigoler tout le monde</span>
            <p slot="explanation">C’est souvent signe d’un manque de confiance en soi. </p>
          </MultipleChoice>
          <MultipleChoice input-name="saine" correct="true">
            <span slot="label">Un camarade de classe qui est confiant et donne des compliments aux autres</span>
            <p slot="explanation">Pratiquer l’empathie et se soucier du bonheur des autres est un bon signe et s’accompagne souvent d’une estime de soi saine. </p>
          </MultipleChoice>
          <MultipleChoice input-name="saine">
            <span slot="label">Un camarade de classe qui critique les autres</span>
            <p slot="explanation">C’est une agression qui prouve une mauvaise estime de soi  </p>
          </MultipleChoice>
          <MultipleChoice input-name="saine">
            <span slot="label">Un camarade de classe qui insulte les autres et fait rigoler tout le monde</span>
            <p slot="explanation">Ce n’est pas une mauvaise chose que de prendre soin de soi mais il faut savoir s’accepter comme on est pour être heureux </p>
          </MultipleChoice>
        </div>
      </div>
      <p>
             <b>EXTRA :</b>
             Apres l’exercice, discutez les réponses. Est ce que certaines réponses vous ont surprises ?
             Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
             <router-link :to="{ name: 'lesson', params: { id: 1, view: 'echange' } }">Discussion</router-link>.
             
      </p>

      <h4 class="font-weight-bold">A ton avis</h4>
      <p>Individuellement ou en petits groupes, discutez des questions ci-dessous
      et écrivez votre opinion en 2-3 phrases complètes. Ensuite présentez vos résultats.
      </p>
      <ul>
        <li>Qu’est-ce que tu préfères sur ton corps ?</li>
        <li>Cite ta plus grande qualité (ex. généreux(-se), serviable, drôle, etc.) ?</li>
        <li>Quelle est la personne que tu admires le plus ? Comment êtes-vous similaires ?</li>
        <li>Qu’aimes-tu le plus dans la vie ?</li>
        <li>Un jour je serai….</li>
      </ul>
    </div>

    <lessons-menu next-view="retenir" previous-view="creation"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import MultipleChoice from '../../MultipleChoice'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    MultipleChoice
  }
}
</script>
