<template>
  <div class="d-flex">
    <div>
      <h3 class="title">RETENIR</h3>

      <h4>Chacun de nous est unique.</h4>
      <h5>Les trois règles du renforcement des pouvoirs :</h5>
      <p><strong>Règle 1 :</strong> Ce que je pense ou dis de moi-même est plus important que ce que les autres pensent ou disent de moi.</p>
      <p><strong>Règle 2 : </strong>Je ne peux pas changer les autres mais je peux me changer. Quand je change mes idées et mes comportements, tout change autour de moi.</p>
      <p><strong>Règle 3 : </strong>Ce que je sème est ce que je récolterai.
      Fait fonctionner les trois règles, tiens compte des Six C.
      </p>
      <h5>Les six C :</h5>
      <ol>
        <li>Cessons de donner de l'importance à ce que les autres disent de nous.</li>
        <li>Cessons de blâmer les autres pour nos malheurs.</li>
        <li>Cessons de permettre aux autres de contrôler nos pensées et nos comportements.</li>
        <li>Commençons à faire confiance à nos forces et à nos instincts.</li>
        <li>Commençons à prendre la responsabilité de nos propres attitudes et comportements.</li>
        <li>Commençons à nous investir dans ce qui est important pour nous.</li>
      </ol>
    </div>

    <lessons-menu next-view="engagement" previous-view="quiz" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
