<template>
  <div class="d-flex">
    <div>
      <h3 class="title">THÉMATIQUE</h3>

      <h4 class="font-weight">Apprendre à s’accepter</h4>
      <p>Chaque personne a ses propres talents, compétences, rêves, objectifs, intelligence et personnalité. Ce que nous ressentons à propos de nous-mêmes et pensons de nos capacités contribue à ce que nous appelons notre « estime de soi », un jugement que chaque individu porte sur lui-même.</p>
      <p>L’estime de soi est une donnée changeante. Elle peut augmenter ou diminuer selon le regard que nous portons sur nous-même, selon nos actions et leurs résultats. Ainsi, il est possible qu’elle soit très haute ou très basse selon les périodes de la vie.</p>
      <p>L’utilisation des produits pour faire grossir les seins, fesses ou autres parties de son corps chez les humains est une pratique risquée qui peut entrainer la mort. Dans d’autres cas, les effets secondaires sont des acnés rebelles, la chute des cheveux, la modification de la voix et parfois même la diminution de la taille des seins chez les femmes. Il en va de même pour les produits prétendant éclaircir la peau ou augmenter la taille des seins et des fesses, ces produits causent des brulures de l’épidermes qui dans certains cas sont irréversibles. </p>
      <p>Il est important que tout le monde, jeunes et moins jeunes, se connaissent et se valorisent. Lorsque nous nous sentons bien dans notre peau, nous nous sentons plus capables de relever des défis scolaires et personnels et de profiter davantage de la vie. Afin de nous sentir bien dans notre peau, nous devons identifier nos forces et nos qualités et être assuré de notre valeur.</p>
      <p><b>Recommandation</b></p>
      <p>Assurez-vous d'être informé de cet aspect de votre vie afin de pouvoir prendre les bonnes décisions. Si vous voulez plus d’information, voyez les deux documents ci-dessous pour les garçons et les filles.</p>
    </div>
    <lessons-menu next-view="echange" previous-view="episode"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
