<template>
  <div class="ml-5">
    <ul class="nav flex-column flex-nowrap">
      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'episode' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          ÉPISODE
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="play" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'thematique' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          THÉMATIQUE
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="book" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'echange' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          ECHANGE
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="comments" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'creation' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          CREATION
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="laptop" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'quiz' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          QUIZ
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="check" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'retenir' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          A RETENIR
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="list" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>

      <router-link tag="li" :to="{ name: 'lesson', params: { id: lessonId, view: 'engagement' } }" class="nav-item">
        <a class="nav-link d-flex justify-content-end align-items-center font-weight-bold">
          ENGAGEMENT
          <font-awesome-layers class="fa-3x fa-fw ml-3">
            <font-awesome-icon icon="circle" class="icon-background"/>
            <font-awesome-icon icon="hand-paper" transform="shrink-8" class="icon-foreground"/>
          </font-awesome-layers>
        </a>
      </router-link>
    </ul>

    <router-link :to="lessonNav" class="btn btn-primary btn-lg w-100 mt-5" v-if="nextView || nextLesson">
      Suite
      <font-awesome-icon icon="chevron-right"/>
    </router-link>

    <router-link :to="lessonMenu" class="btn btn-secondary btn-lg w-100 mt-5" v-if="previousView || previousLesson">
    <font-awesome-icon icon="chevron-left"/>
      Precedent
    </router-link>
  </div>
</template>

<script>
import { FontAwesomeIcon, FontAwesomeLayers } from '../../../node_modules/@fortawesome/vue-fontawesome'

export default {
  components: {
    FontAwesomeIcon,
    FontAwesomeLayers
  },

  computed: {
    lessonId () {
      return this.$route.params.id
    },
    lessonNav () {
      return { name: 'lesson', params: { id: this.nextLesson || this.lessonId, view: this.nextView || 'introduction' } }
    },
    lessonMenu () {
      return { name: 'lesson', params: { id: this.previousLesson || this.lessonId, view: this.previousView || 'introduction' } }
    }
  },

  props: ['nextLesson', 'nextView', 'previousLesson', 'previousView']

}
</script>

<style lang="scss" scoped>
ul {
  font-family: Delius;
  width: 240px;

  a {
    color: #000;

    &:hover,
    &.active  {
      .icon-background {
        color: #169eff;
      }
    }
  }
}

.active  .icon-background {
  color: #169eff;
}

.icon-background {
  color: #f99741;
}

.icon-foreground {
  color: #fff;
}
</style>
