
<template>
  <div class="d-flex">
    <div>
      <h3 class="title">CREATION</h3>
      <h4 class="font-weight"> Sur l’ordinateur</h4>
<p>Dans l’épisode, Bio a du mal à comprendre et à résoudre la situation de sa sœur et il
cherche l’avis de ses amis et du père d’Assiba.
</p>
<p>Des relations saines peuvent signifier différentes choses pour différentes personnes.
Cependant, il existe plusieurs caractéristiques fondamentales qui définissent ce que
signifie être dans une relation saine avec des pairs et des adultes.
</p>
<p>Explorez les caractéristiques fondamentales des relations saines.</p>
<p><b>Étape 1 :</b> Lisez l’explication sur les caractéristiques fondamentales des
relations saines dans la <router-link :to="{ name: 'lesson', params: { id: 3, view: 'thematique' } }">Thematique</router-link>.
</p>
<p><b>Étape 2 :</b> Faites un nombre pair de groupes en fonction du nombre d’ordinateurs disponibles. Le premier groupe ouvre le Powerpoint 1 et le deuxième groupe le Powerpoint 2. Chaque Powerpoint a une liste de ‘savoir-faire’ sur les relations saines.
Votre activité est d’illustrer sur cette liste les actions que vous allez prendre. Utilisez des mots des images ou des photos pour détailler chacun des savoirs faire.
</p>
<ul>
<p class="font-weight">Modele 1 :</p>
<li>Promouvoir le respect de l’autre ;</li>
<li>Résister à la pression sociale ;</li>
<li>Intégrer les compétences nécessaires à une bonne relation: comprendre, écouter, communiquer, partager, faire des plans, s’entraider ;</li>
<li>Pratiquer l’écoute active.</li>
</ul>
        <ul>
<p class="font-weight">Modele 2 : </p>
<li>Promouvoir un dialogue positif entre la famille, parents et société ;</li>
<li>Connaitre et respecter ses limites personnelles ;</li>
<li>Savoir comment réagir en cas d’attouchements ;</li>
<li>Chercher de l’aide / identifier des services appropriés en cas de besoin.</li>
</ul>
<p><b>Étape 3 :</b> Si vous travaillez sur du papier dessinez ou écrivez les mots ou les images pour
représenter votre interprétation des ‘savoir-faire’ de votre liste. Si vous travaillez sur l'ordinateur,
vous pouvez taper ou trouver des images sur l’Internet et les mettre en page dans le PowerPoint. Prenez
la liberté de décorer et améliorer la présentation de votre travail.
</p>
        <h4 class="font-weight"> Sur papier</h4>
<p>Dans l’épisode Bio, Assiba et Paulin ont parlé de leurs inquiétudes et de leurs frustrations
avec le mariage précoce et forcé. Mais ils se sont aussi donnés des conseils.
</p>
<p>Faites comme eux et donnez vous des conseils avisés. Avant tout il faudra identifier
quelles sont vos inquiétudes et vos peurs par rapport au sujet des relations malsaines.
Ensuite vous pourrez donner des conseils a vos camarades et savoir comment vous
respecter et respecter vos partenaires.
</p>
<p><b>Etape 1 :</b> Individuellement, faites une liste de vos préoccupations en utilisant ces questions directrices :</p>
<ul>
<li>Qu’est ce qui te tracasse par rapport à des relations que tu pourrais avoir avec un partenaire?</li>
<li>Qu’est ce qui te préoccupes par rapport à tes relations avec les adultes?</li>
<li>Quelles importances ont ces préoccupations sur tes actions au quotidien ?</li>
</ul>
<p><b>Etape 2 :</b>Echangez votre liste avec celle d’un(e) camarade. Pensez à comment
répondre a ses préoccupations et identifier des personnes ressources qui pourraient
l’aider.
</p>
<p><b>Etape 3 :</b> Formulez une liste de conseils en utilisant les idées de l’étape 2. Trouvez une façon de présenter ces conseils avec des phrases courtes, ou des slogans.</p>
<p><b>Etape 4 :</b> Formez des petits groupes de 4-5 et faites une liste des 5 meilleurs slogans sur un grand papier (ou plusieurs pages collées ensemble).
Appliquez-vous à la présentation de votre poster et quand tout le monde a fini faites en la présentation comme pour une campagne de sensibilisation.
</p>
    </div>

    <lessons-menu next-view="quiz" previous-view="echange"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
