<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉCHANGE</h3>
      <h3 class="font-weight">relations saines</h3>
<p>En groupe, réfléchissez à ce que vous savez des relations saines.
suite une présentation orale ou prenez notes des résultats de
votre discussion afin de comparer avec d’autres groupes.
</p>
<p><b>Etape 1 :</b> Formez au moins 3 groupes de 5 personnes</p>
<p><b>Etape 2 :</b> Répondez aux questions suivantes :</p>
<ul>
<li>Quelles sont les qualités d’une bonne relation ?</li>
<li>Entre partenaires?</li>
<li>Entre parents et enfants?</li>
<li>Entre pairs?</li>
<li>Quels sont vos droits et responsabilités dans votre famille ?</li>
<li>Pour le garçon ?</li>
<li>Pour la fille ?</li>
</ul>
<p><b>Etape 3 :</b> Discutez et présentez les réponses aux questions avec la classe</p>
    <h3 class="font-weight">Jeu de rôles</h3>
<p>Dans le même épisode, vous avez vu Paulin, Assiba et Bio discuter
des caractéristiques des relations saines, particulièrement du mariage
précoce et forcé. Vous avez aussi vu l’explication et la réponse de Koffi,
le père d’Assiba confronté lui-même à cette situation en tant que parent.
</p>
<p>Suivez le jeu de rôle ci-dessous, qui explore un autre élément desrelations saines: la violence relationnelle.</p>
 <p class="font-weight">Exemple :</p>
<p>Idji, Lafia et Moussa marchent ensemble après l'école. Ils racontent leurs week-ends.
Idji dit que ses parents l'avez amené au parc. Moussa dit qu'il est allé avec sa famille
pour rendre visite à des parents. Idji et Moussa regardent Lafia qui n’a rien dit. Elle
a l'air contrariée. Ils lui demandent ce qui ne va pas. Elle raconte alors son weekend
qui était difficile. Ses parents se battent tout le temps et son petit ami et elle se
sont disputés. Il lui met la pression pour avoir des rapports sexuels avec elle. Idji
et Moussa qui ont appris à identifier les caractéristiques des relations malsaines portent
conseil à Lafia.
</p>
<p>En prenant pour exemple ce contexte, si vous étiez les amis de Lafia,
que diriez-vous? Et si vous étiez Lafia, que répondriez-vous?
</p>
<p><b>Étape 1 :</b> En groupes ouverts, composez une liste de qualités a respecter pour une bonne relation.</p>
<p><b>Etape 2 :</b> Choisir un binôme (deux exemples) pour représenter ou
illustrer la scène. Former des groupes de 5-10 pour un travail collectif. Chaque groupe
prend une ou deux qualités.
</p>
    <p><b>Etape 3 :</b> Répondez aux questions suivantes :</p>
<ul>
<li>Citez les personnages de la scène</li>
<li>Quels sont les éléments qui caractérisent une relation malsaine dans le cas des parents de Lafia?</li>
<li>Quels sont les éléments qui caractérisent une relation malsaine dans le cas du petit ami de Lafia? </li>
<li>Quels pourraient être les effets d’une relation saine sur quelqu’un dans cette situation? </li>
<li>Est-ce que vous vous reconnaissez dans cette histoire ?</li>
</ul>
<p><b>Étape 4 :</b> Avec cela, faites un jeu de rôle qui explique comment ces éléments de relations (mal)saines se manifeste dans la vie quotidienne.</p>
<p><b>Étape 5 :</b> Chaque groupe présente son jeu de rôles devant les autres groupes.</p>
<p><b>Étape 6 :</b> Quand tous les groupes auront fini leurs présentations, donnez vos impressions ou menez une discussion sur le jeu de rôles :</p>
<ul>
<li>Est-ce que vous vous reconnaissez dans cette histoire ?</li>
<li>Est-ce que cela traduit la réalité ?</li>
<li>Avez-vous une autre fin pour l’histoire ?</li>
</ul>

    </div>
    <lessons-menu next-view="creation" previous-view="thematique"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
