<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ENGAGEMENT</h3>
      <h4>Êtes-vous prêt à vous engager ? </h4>
<p>Prenez l’engagement d’adopter une de ces déclarations.</p>
<p>Un engagement est une déclaration formulée pour exprimer sa volonté à respecter une promesse.
C’est une action personnelle et c'est donc à vous de choisir librement de vous engager. Au début,
ce ne sera pas facile ! Mais n'abandonnez pas, essayez à nouveau jusqu'à ce que cela vienne naturellement.
</p>
<p>Vous pouvez créer vos propres engagements ou utiliser les suggestions ci-dessous.<p>
<p>JE M’ENGAGE À:</p>
<ul class="list-unstyled">
<li>«RESPECTER MON OU MA PARTENAIRE» ;</li>
<li>«M’EXPRIMER LIBREMENT SANS PORTER JUGEMENT SUR MON OU MA PARTENAIRE» ;</li>

<li>«ETRE MOI-MEME, DE PENSER ET DE DIRE CE QUE JE VEUX» ;</li>

<li>«NE PAS PARTICIPER À LA PRESSION SOCIALE ENVERS MES CAMARADES» ;</li>

<li>«CHERCHER DE L’AIDE SI JE SUIS DANS UNE RELATION DÉSAGREABLE».</li>
</ul>
  </div>
    <lessons-menu next-lesson="4" previous-view="retenir"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
