<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉPISODE</h3>
      <video controls class="w-100">
        <source src="../../../assets/lesson3.mp4">
      </video>
      <div class="mt-3">
        <p> Paulin, Assiba, Bio et Koffi discutent des droits liés au mariage entre
        les hommes et les femmes. Ils parlent de mariage forcé et des différences de point de vue entre
        les gens. La discussion tourne autour de la question du mariage précoce et forcé de Afi et de si c’est juste.
        </p>
        <p>Questions après la pièce histoire </p>
        <ul>
          <li>Que ferais-tu si tu étais à la place de Bio ?</li>
          <li>Que sais-tu des mariage précoce et forcé ? As-tu des exemples ?</li>
          <li>Que sais-tu sur les relations saines? As-tu des exemples ?</li>
        </ul>
      </div>      
    </div>
    <lessons-menu next-view="thematique"  previous-view="introduction"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
