<template>
  <div class="introduction3">
   <div>
      <h3>Objectifs de la leçon :</h3>
    <ul>
<li>Violence basée sur genre ;</li>
<li>Mariage forcé et précoce.</li>
    </ul>
    <h3>Savoir : </h3>
    <ul>
<li>Identifier les qualités d’une bonne relation <br>(ouverture d’esprit, respect, bonne foi, honnêteté, attention, passion) ;</li>
<li>Connaitre et comprendre les différents types des valeurs <br>entre parents et enfants ;</li>
<li>Connaitre et comprendre ses droits et responsabilités dans <br>la famille ;</li>
<li>Comprendre quelles sont les limites des relations ente adultes<br> et adolescents ;</li>
<li>Comprendre l’utilisation du langage corporel ;</li>
<li>Distinguer les différentes formes de violence sexuelle ;</li>
<li>Définir  les termes MGF, mariage force, pédophilie et inceste.</li>
    </ul>
    <h3>Savoir-faire : </h3>
    <ul>
<li>Promouvoir le respect de l’autre ;</li>
<li>Résister à la pression sociale ;</li>
<li>Intégrer les compétences nécessaires à une bonne relation : <br>comprendre, écouter, communiquer, partager, faire des plans, s’entraider ;</li>
<li>L’écoute active.</li>
<li>Promouvoir un dialogue positif entre la famille, parents et société ;</li>
<li>Connaitre et respecter ses limites personnelles ;</li>
<li>Savoir comment réagir en cas d’attouchements ;</li>
<li>Chercher de l’aide / identifier des services appropriés en cas de besoin.</li>
    </ul>
    <h3>Savoir-etre : </h3>
    <ul>
       <li>Prendre conscience de l’importance d’avoir des relations saines avec tes pairs ;</li>
       <li>Prendre conscience de l’importance de reconnaitre une relation malsaine avec un adulte ;</li>
       <li>Prendre conscience de l’importance d’adopter les bons comportements pour éviter les abus et/ou violences sexuelles ;</li>
       <li>Prendre conscience de l’importance de lutter contre l’abus sexuel.</li>
    </ul>
     <router-link :to="{ name: 'lesson', params: { id: 3, view: 'episode' } }" class="btn btn-primary btn-lg mt-3">Commencer la leçon</router-link>
     <a class="btn btn-secondary btn-lg mt-3 ml-5" target="_blank" href="/Relations/professeur.pdf">Professeurs</a>
   </div>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
export default {
  components: {
    FontAwesomeIcon
  }
}
</script>
