<template>
  <div class="d-flex">
    <div>
      <h3 class="title">QUIZZ</h3>
     <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
      <p>Marquez si les phrases suivantes sont des mythes ou des réalités.</p>
      <div class="columns-two row align-items-stretch">
        <div class="col-6 pb-4">
          <p>Les abus dans les relations entre adolescents finiront par s'arrêter à mesure qu'ils vieillissent, Ce n'est qu'une phase.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Les relations abusives impliquent un modèle de contrôle des comportements qui peuvent couvrir toute une vie et plusieurs victimes. Les agresseurs ne changeront que lorsqu'ils prendront la pleine responsabilité de leur comportement et se rendront compte qu'ils n'ont pas le droit de contrôler et d'abuser.</span>  
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>L'abus ne se produit que chez certaines personnes.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Tout enfant, garçon ou fille, dans tout milieu social, peut être victime d’abus, même très jeune.</span>
          </TrueOrFalse>
        </div>

        <div class="col-6 pb-4">
          <p> L'abus dans une relation peut arriver à n'importe qui, peu importe la race, la religion, le revenu, le sexe avec lesquels vous vous identifiez.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Tout le monde peut être victime d’abus, il n’y a pas de limites ! L’abus émotionnel est l’une des formes
              les plus répandues d’abus dans une relation de couple.
            </span>
          </TrueOrFalse>  
        </div>

         <div class="col-6 pb-4">
          <p>Si ton partenaire est jaloux de tes amis, cela signifie qu'ils se soucie de toi.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">La jalousie est souvent l'excuse d'un agresseur pour vous contrôler et vous isoler. Alors que la jalousie peut être un sentiment naturel, cela dépend de ce que vous faites avec le sentiment. Si leur jalousie est en train de vous dire où aller et à qui parler, c'est malsain et contrôlant.</span> 
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Les relations devraient être amusantes et agréables.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Si ce n’est pas le cas, l’indice le plus flagrant, c’est la « peur » de votre partenaire. Si vous avez peur de lui
              ou d’elle, peur de sa réaction face à une situation, si vous marchez sur des œufs afin d’éviter un
              éclatement, peur de parler devant lui ou elle, il y a beaucoup de chances que votre relation est malsaine
              et abusive.
            </span>
          </TrueOrFalse>  
        </div>
         <div class="col-6 pb-4">
          <p>Un comportement malsain dans une relation est identifiable quand ; un partenaire n'est pas à l'aise avec ce comportement ; cela devient irrespectueux ; ou quand quelqu’un est blessé (émotionnellement ou physiquement).</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Si vous avez peur que votre partenaire vous laisse, si votre partenaire vous rabaisse et vous dit des mots
              grossiers et humiliants pour vous décrire, si vous sentez que vous ne méritez pas d’être bien, si vous
              sentez que vous devenez fou/folle ou confus (e), vous êtes probablement abusé émotionnellement.</span>
          </TrueOrFalse>  
        </div>
        <div class="col-6 pb-4">
          <p>Le mariage précoce est rare.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Selon les nouvelles estimations de l'UNFPA, cette année seulement, 13,5 millions d'enfants, dont la plupart sont des filles, seront mariés avant l'âge de 18 ans.</span>  
          </TrueOrFalse>
        </div>

         <div class="col-6 pb-4">
          <p>Le mariage précoce n'arrive qu'aux filles.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Il est vrai que la grande majorité des mariages d'enfants impliquent des filles. Mais les garçons peuvent être mariés, tout comme les filles.</span>  
          </TrueOrFalse>
        </div>
         <div class="col-6 pb-4">
          <p>La pression des pairs est un bon moyen d'amener vos amis à faire ce que vous voulez.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Faire pression sur les pairs ne favorise pas une relation égale et saine et le fait basé sur la peur</span>  
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
            <p> Les mariages précoces/forcés installent une mauvaise relation dans les couples .</p>
            <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
              <span class="font-italic">Il est fort peu probable qu’un couple dont le consentement de départ ne fut pas partagé puisse
                atteindre un équilibre sain. Cela restera comme une blessure interne d’un partenaire subissant la
                volonté de l’autre.</span>
            </TrueOrFalse>
          </div>
    </div>
    <p>
             <b>EXTRA :</b>
             Apres l’exercice, discutez les réponses. Est ce que certaines réponses vous ont surprises ?
             Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
             <router-link :to="{ name: 'lesson', params: { id: 1, view: 'echange' } }">Discussion</router-link>
             
    </p>
    <h4 class="font-weight-bold">A ton avis</h4>
    <p>Individuellement ou en petits groupes, discutez les questions ci-dessous et écrivez votre opinion en 2-3 phrases complètes.</p>
    <ul>
     <li>Une amie te parle d’un mariage précoce dans sa famille. Que lui conseilles-tu?</li>
     <li>Ton cousin vient te parler d’un adulte qui l’a touché bizarrement et sans consentement. Qu’est-ce que tu peux lui conseiller? Avez-vous les mêmes expériences?</li>
     <li>Est-ce normal que les hommes aient des responsabilités différentes que les femmes dans une relation?</li>
     <li>Que feras tu si tes camarades te poussaient à faire quelque chose qui te met mal a l’aise en te faisant du chantage?</li>
     <li>Ton amie te dit en blaguant que son partenaire la frappe. Que lui conseilleras tu?</li>
     <li>Comment expliquerais-tu les bases des relations saines à ton petit(e) frère/sœur ou quelqu’un plus jeune que toi?</li>
    </ul>
    </div>

    <lessons-menu next-view="retenir" previous-view="creation"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import TrueOrFalse from '../../TrueOrFalse'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    TrueOrFalse
  }
}
</script>
