<template>
  <div class="d-flex">
    <div>
      <h3 class="title">RETENIR</h3>
<p>Les relations saines prennent toutes sortes de formes mais nécessitent toutes de la largeur
d’esprit, du respect, de la bonne foi, de l’honnêteté, de l’attention, de la passion. Les relations saines sont donc basées sur le respect des uns envers les autres et sur l'égalité dans la relation.
Dans cet épisode, nous avons vu comment Bio a lutté contre le mariage précoce de sa jeune sœur.
Nous avons vu comment ses amis Assiba et Paulin l’ont aidé à mieux comprendre la situation de droit de sa sœur et à le relier au père d'Assiba pour des explications et des conseils. Grâce
à cet épisode et aux activités de cette leçon, vous avez pris conscience de l’importance
d’avoir de bonnes relations avec vos partenaires, de comprendre vos droits et devoirs en
relation aux adultes, d’adopter le bon comportement pour éviter les abus et/ou violences
sexuelles et de l’importance de lutter contre l’abus sexuel.
     </p>
     <p>Qu’est–ce qu’on peut apprendre du texte ci-dessus ?</p>
<p>Notez les informations importantes et comparez-les avec les messages clés de la thématique et des exercices :</p>
<ul>
     <li>La qualité de la relation dépend grandement des attitudes que chacun adopte envers soi-même et envers l'autre ;</li>
     <li>Le mariage des enfants, ou mariage précoce, est défini comme une union formelle ou informelle, y compris le mariage légal, religieux ou coutumier, de toute personne de moins de 18ans ;</li>
     <li>La violence sexuelle peut prendre plusieurs formes ;</li>
     <li>La limite des autre s’arrête là où commence la tienne.</li>
</ul>
    </div>

    <lessons-menu next-view="engagement" previous-view="quiz"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
