<template>
  <div class="d-flex">
    <div>
      <h3 class="title">THÉMATIQUE</h3>
        <h4>Quelles sont les caractéristiques des relations saines ?</h4>
        <p>Une relation saine et équilibrée entre deux personnes, c’est une relation où... </p>
<ul>
 <li>je me sens respecté(e) par mon ou ma partenaire ;</li>
 <li>je me sens aimé(e) par la personne avec qui je suis ;</li>
 <li>j’ai du plaisir à tout simplement passer du temps avec l’autre ;</li>
 <li>je peux m’exprimer librement sans que mon ou ma partenaire porte un jugement ;</li>
 <li>je me sens libre d’être moi-même, de penser et de dire ce que je veux ;</li>
 <li>j’ai le sentiment que mes croyances et mes valeurs spirituelles sont respectées.</li>
</ul>
<p>La qualité de la relation dépend grandement des attitudes que chacun adopte envers soi-même et envers l'autre.</p>
<h4>Qu’est-ce que le mariage précoce ?</h4>
<p>Le mariage des enfants, ou mariage précoce, est défini comme une union formelle ou
informelle, y compris le mariage légal, religieux ou coutumier, de toute personne de
moins de 18ans. Au Bénin, de nombreuses filles sont mariées de force, soit par leurs parents
ou par leurs tuteurs, avant d’être physiquement ou émotionnellement matures pour devenir
des épouses et des mères.
</p>
<h4>Quelles sont les différentes formes de violence sexuelle ?</h4>
<p>La violence sexuelle peut avoir plusieurs formes. Elle ne s’exprime pas toujours
par l’usage de la force. Dans certaines relations, un des deux partenaires va se sentir
obligé d’avoir un rapport sexuel parce que c’est son « devoir » de partenaire. Or, c’est
aussi une forme de violence sexuelle que de se sentir obligé (même implicitement)
d’avoir un rapport sexuel. Dans ce cadre il est bon de rappeler que le viol entre
époux est condamné par la loi.
</p>

    </div>
    <lessons-menu next-view="echange" previous-view="episode"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
