<template>
  <div>
    <div class="custom-control custom-radio custom-control-inline" :class="{ correct: correct, incorrect: !correct }">
      <input type="radio" :id="inputId" :name="inputName" class="custom-control-input"
        v-model="selected" :value="true">
      <label class="custom-control-label" :for="inputId"><slot name="label"></slot></label>
    </div>
    <slot name="explanation" v-if="selected"></slot>
  </div>
</template>

<script>
import { uuid } from 'vue-uuid'

export default {
  data () {
    return {
      inputId: null,
      selected: false
    }
  },
  mounted () {
    this.inputId = uuid.v4()
  },
  props: ['correct', 'inputName']
}
</script>

<style lang="scss">
@import '../../node_modules/bootstrap/scss/bootstrap';

.correct {
  input:checked {
    @extend .is-valid;
  }
}

.incorrect {
  input:checked {
    @extend .is-invalid;
  }
}
</style>
