<template>
  <div>
    <div>
      <div class="custom-control custom-radio custom-control-inline" :class="correctness(first)">
        <input type="radio" :id="`first-${inputName}`" :name="inputName" class="custom-control-input"
          v-model="answer" :value="first">
        <label class="custom-control-label" :for="`first-${inputName}`">{{ first }}</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline" :class="correctness(second)">
        <input type="radio" :id="`second-${inputName}`" :name="inputName" class="custom-control-input"
          v-model="answer" :value="second">
        <label class="custom-control-label" :for="`second-${inputName}`">{{ second }}</label>
      </div>
    </div>
    <div v-if="answer" ><slot></slot></div>
  </div>
</template>

<script>
import { uuid } from 'vue-uuid'

export default {
  data () {
    return {
      answer: null,
      inputName: null
    }
  },
  methods: {
    correctness (answer) {
      if (answer === this.correct) {
        return 'correct'
      } else {
        return 'incorrect'
      }
    }
  },
  mounted () {
    this.inputName = uuid.v4()
  },
  props: ['correct', 'first', 'second']
}
</script>

<style lang="scss">
@import '../../node_modules/bootstrap/scss/bootstrap';

.correct {
  input:checked {
    @extend .is-valid;
  }
}

.incorrect {
  input:checked {
    @extend .is-invalid;
  }
}
</style>
