<template>
  <div class="d-flex">
    <div>
     <h3 class="title">CREATION</h3>
      <h3 class="font-weight">Sur l’ordinateur</h3>
<p>Dans l’épisode, Paulin, Assiba, Koffi et Mme. Bintou discutent les méthodes de
contraction et prévention du VIH/SIDA. Mme. Bintou explique aussi les options
de soin et adaptation. Mme. Bintou les encourage de ne pas avoir peur des
séropositifs et à ne pas les.
</p>
<p>Explorez les méthodes de contraction et prévention de VIH/SIDA, ainsi que les
options de soin et adaptions non-stigmatisées à la vie de tous les jours.
</p>
        <p><b>Étape 1 :</b> Lisez l’explication de VIH/SIDA dans la   <router-link :to="{ name: 'lesson', params: { id: 5, view: 'thematique' } }">Thématique</router-link>.</p>
<p><b>Étape 2 :</b> Faites deux groupes – Chaque groupe choisit l'une des campagnes de sensibilisation proposées ci-dessous :</p>
<ul>
<li>Comment pourrait-on soutenir une personne vivant avec le VIH à trois niveaux : Individuel, Communautaire, Gouvernemental ?</li>
<li>Comment pourrait-on expliquer le VIH/SIDA à quelqu’un qui ne sait rien à ce sujet et à quelqu'un qui est mal informé ?</li>
</ul>
<p><b>Étape 3 :</b> Si vous travaillez sur du papier, faites un effort de visualisation avec des images et des couleurs et concevez une belle affiche. Si vous travaillez sur l'ordinateur, créez votre affiche sur un programme graphique, en utilisant par exemple Word Art ou un diapo Powerpoint pour illustrer vos réponses.</p>
        <h3> Sur papier</h3>
<p>Dans l’épisode Mme Bintou donne des conseils à Assiba, Paulin et Koffi sur le VIH/SIDA.
Plus particulièrement, elle explique ce que signifie avoir le VIH/SIDA et dissipe certains
mythes sur la maladie qui isolent les personnes qui sont infectées.
</p>
<p>Faites comme Assiba, Paulin et Koffi. Prenez conscience de vos propres réactions et de
celles de vos relations. Pensez à des préoccupations que vous avez autour du sujet du
VIH/SIDA. Cela pourrait vous aider à savoir qu'il existe d'autres adolescents comme
vous qui ont les mêmes inquiétudes.Soyez sûr que vous n’êtes pas seuls à avoir ces
inquiétudes et que vous pouvez aider vos pairs avec vos conseils et idées.
</p>
<p><b>Etape 1 :</b> Faites une liste de vos propres préoccupations en utilisant ces questions directrices :</p>
<ul>
<li>Qu’est ce qui vous inquiète le plus au sujet du VIH/SIDA ?</li>
<li>Avez-vous peur d’être infecté par le virus ? Quel est le risque que vous prenez ?</li>
<li>Comment ressentez-vous ces préoccupations ?</li>
</ul>
<p><b>Etape 2 :</b> Echangez votre liste avec celle d’un(e) camarade.
Pensez à comment répondre à ses préoccupations et identifier des personnes ressources qui pourraient l’aider.
</p>
<p><b>Etape 3 :</b> Formulez une liste de conseils en utilisant les idées de l’étape 2.
Trouvez une façon de présenter ces conseils avec des phrases courtes, ou des slogans.
</p>
<p><b>Etape 4 :</b> Formez des petits groupes de 4-5 et faites une liste des 5 meilleurs slogans sur un grand papier
(ou plusieurs pages collées ensemble). Appliquez-vous à la présentation de votre poster et quand tout le monde a fini faites en la présentation comme pour une campagne
de sensibilisation.
</p>
<p><b>EXTRA :</b> Apres l’exercice, discutez de vos réponses—est ce que certaines réponses vous ont surprises? Si oui, lesquelles? Si non, pourquoi?
        Comparez vos réponses à celles de la section  <router-link :to="{ name: 'lesson', params: { id: 5, view: 'echange' } }">Discussion</router-link></P>

    </div>
    <lessons-menu next-view="quiz" previous-view="echange"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
