<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉCHANGE</h3>
       <h4>VIH/SIDA</h4>
<p>Formez plusieurs groupes et parler de vos expériences sur les IST. Faites une présentation orale
ou prenez notes des résultats de votre discussion afin de comparer avec d’autres groupes.
</p>
<p><b>Etape 1 : </b>Formez au moins 3 groupes de 5 personnes</p>
<p><b>Etape 2 : </b> Répondez aux questions suivantes:</p>
<ul>
<li>Quels sont les avantages du dépistage ?</li>
<li>Quelles sont les méthodes contraceptives efficaces contre les IST ?</li>
<li>Quels peuvent être les arguments contre le dépistage, les raisons de ne pas le faire ?</li>
<li>Quand faut-il se faire dépister ?</li>
<li>Quelles recommandations feriez-vous à séropositif ?</li>
<li>Quelles recommandations feriez-vous à un séronégatif ?</li>
</ul>
<p><b>Etape 3 :</b> Discutez et présentez les réponses aux questions avec la classe</p>
        <h4>Jeu de rôles</h4>
<p>Dans le même épisode, vous avez vu que Paulin et Assiba avaient toute une série
d’idées reçues sur les personnes vivant avec le VIH.
</p>
<p>
Suivez le jeu de rôle ci-dessous, qui explore les méthodes de contraction et
prévention du VIH/SIDA, où aller pour faire le dépistage et pour obtenir des
conseils.
</p>
<p class="font-weight">Exemple :</p>
<p>Nago, Gnigla et Boni parlent ensemble après la classe. Nago dit qu'il est inquiété
parce que sa tante ne se sent pas bien. Gnigla et Boni lui posent quelques questions
pour mieux comprendre pourquoi sa tante ne se sent pas bien. Nago mentionne qu'elle a
eu un nouveau petit ami il y a quelques mois et qu'il est séropositif. Nago sait que
le VIH ne peut être contracté que par des relations sexuelles non protégées,
en partageant des aiguilles sales et en contact direct avec le sang d'une personne
infectée, par exemple.  Mais il n'est pas sûr que sa tante le sache. Il ne sait pas
quoi faire. Ses amis lui disent de ne pas s'inquiéter et lui expliquent que Nago peut
emmener sa tante dans un centre de santé, où elle peut se faire tester
confidentiellement et offrir des services et des conseils. Il s'inquiète
que des gens maltraitent sa tante si elle est testée positive. Ses amis lui
disent que dans ce cas-là il sera important de soutenir sa tante et d'être là
pour elle. Avec les tests appropriés et la connexion aux services, elle pourra
obtenir des médicaments et des conseils qui l'aideront à faire face. Gnigla et Boni
lui disent qu'il est important aussi d’informer sa communauté sur les réalités du
VIH, afin de combattre les stéréotypes et à rendre la vie des personnes vivant avec le VIH plus positive.
</p>
<p><b>Étape 1 :</b> En groupes ouverts, composez deux listes: une des méthodes de contraction et prévention de VIH/SIDA, et une autre avec les options pour quelqu'un qui pense avoir contracté le VIH et où aller dans votre communauté pour faire le dépistage et pour obtenir des conseils.</p>
<p><b>Etape 2  :</b> Choisir un binôme(deux exemples) pour représenter ou illustrer la scène. Former des groupes de 5-10 pour un travail collectif. Chaque groupe suit l’histoire présentée en haut et intègre quelques éléments de leurs deux listes d’étape 1 pour compléter le scénario. </p>
<p><b>Etape 3 :</b> Répondez aux questions suivantes :</p>
<ul>
<li>Citez les personnages de la scène</li>
<li>Quelles sont les des méthodes de contraction de VIH/SIDA ?</li>
<li>Quelles sont les des méthodes de prévention de VIH/SIDA ?</li>
<li>Quelles sont les options pour quelqu'un qui pense avoir contracté le VIH ?</li>
<li>Ou dans votre communauté peut-on faire le dépistage et obtenir des conseils ?</li>
<li>Pourquoi est-ce que c’est important de lutter contre la stigmatisation pour Nago et ses amis ?</li>
</ul>
<p><b>Étape 4 :</b> Avec cela, faites un jeu de rôle qui explique comment le VIH/SIDA se situe dans la vie quotidienne.</p>
<p><b>Étape 5 :</b> Chaque groupe présente son jeu de rôle devant les autres groupes.</p>
<p><b>Étape 6 :</b> Quand tous les groupes auront fini leurs présentations, donnez vos impressions ou menez une discussion sur le jeu de rôles :</p>
<ul>
<li>Est-ce que vous vous reconnaissez dans cette histoire ?</li>
<li>Est-ce que cela représente la réalité ?</li>
<li>Avez-vous une autre fin pour l’histoire ?</li>
</ul>
    </div>
    <lessons-menu next-view="creation" previous-view="thematique"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
