<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉPISODE</h3>
<p>Dans l’épisode qui précède, Paulin et Assiba discutent le VIH/SIDA : les causes, les méthodes de prévention
et surtout des mythes au sujet du VIH. Ils parlent de leurs opinions et posent leurs questions à Mme Bintou
et Koffi, le père d’Assiba. Mme Bintou leur apporte des informations précises sur le VIH/SIDA.
</p>
<p>Questions après la pièce histoire</p>
<ul>
<li>Que ferais-tu si tu étais dans la discussion de Paulin and Assiba ?</li>
<li>Que sais-tu de la VIH/SIDA ? </li>
<li>As-tu des exemples de situations où le VIH/SIDA est contagieux ?</li>
</ul>
    </div>

    <lessons-menu next-view="thematique" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
