<template>
  <div class="introduction5">
   <div>
  <h3>Objectifs de la leçon :</h3>
<ul>
<li>Contamination & prévention ;</li>
<li>Dépistage & prise en charge ;</li>
<li>Stigmatisation.</li>
</ul>
<h3>Savoir:</h3>
<ul>
<li>Identifier les Infection Sexuellement Transmissibles, leurs symptômes, mode<br> de transmission et les situations à risque ;</li>
<li>Connaitre les modes de préventions ;</li>
<li>Connaitre les services où les IST sont traitées dans la communauté ;</li>
<li>Identifier les situations à risque ;</li>
<li>Connaitre les avantages du Conseil et du Dépistage Volontaires et Anonymes (CDVA) ;</li>
<li>Citer les actions que la communauté peut mettre en place pour soutenir les personnes<br> affectées/ infectées par les IST, VIH/SIDA.</li>
</ul>
<h3>Savoir – faire :</h3>
<ul>
<li>Appliquer des mesures préventives pour lutter contre les IST ;</li>
<li>Sensibiliser et informer son entourage sur les questions liées aux IST et les situations à risques ;</li>
<li>Appliquer les mesures préventives pour lutter contre le VIH/SIDA ;</li>
<li>Sensibiliser et informer son entourage sur les questions liées aux VIH ;</li>
<li>Exercer de l’empathie et ne pas stigmatiser.</li>
</ul>
    <h3>Savoir- être :</h3>
<ul>
<li>Se prémunir des IST ;</li>
<li>Se prémunir de VIH/SIDA.</li>
</ul>
<router-link :to="{ name: 'lesson', params: { id: 5, view: 'episode' } }" class="btn btn-primary btn-lg mt-3">Commencer la leçon</router-link>
    <a class="btn btn-secondary btn-lg mt-3 ml-5"  target="_blank" href="/Ist/professeur.pdf">Professeurs</a>
</div>
 </div>
</template>
<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
export default {
  components: {
    FontAwesomeIcon
  }
}
</script>
