<template>
  <div class="d-flex">
    <div>
      <h3 class="title">QUIZZ</h3>

      <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
      <p>Vous le savez bien, tout le monde a quelque chose à dire sur ces sujets, mais parfois ces affirmations ne sont pas le bon exemple à suivre. Il est important de savoir reconnaitre les mythes pour ne pas se laisser prendre au piège.</p>
      <p>Marquez si les phrases suivantes sont des mythes ou des réalités.</p>
      <div class="columns-two row align-items-stretch">
        <div class="col-6 pb-4">
          <p>L’eau avec du sel et du citron peut vous empêcher d'attraper ou de propager le VIH.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Les experts de la lutte contre le SIDA préviennent qu&#39;actuellement aucune preuve n&#39;a été apportée sur
              l&#39;efficacité de protection du jus de citron chez la femme. C’est un remède ancestral qui semble éveiller
              l’attention de certains chercheurs mais de nos jours présente encore un réel danger d’infections pour
              les filles et pas de preuves de protections contre les IST ou la grossesse.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Vous pouvez contracter le VIH simplement en côtoyant des personnes séropositives dans votre vie quotidienne.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Le virus ne se transmet pas par les larmes, la sueur, la salive, la toux et les éternuements, par les
              piqûres d’insecte ( le virus VIH ne survit pas dans les glandes salivaires du moustique) , ni par les
              poignées de mains, les baisers, les massages, ou la masturbation.
              Il n’y a pas de risque lorsqu’on dort dans le même lit, qu’on partage des vêtements, qu’on boit dans le
              même verre ou qu’on mange dans le même plat, ni lors de la baignade, ou par le contact avec la lunette
              des toilettes.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>le VIH se propage par le biais de relations sexuelles non protégées, d'aiguilles sales, de contact direct avec le sang ou pendant la grossesse, l'accouchement et l'allaitement par une mère qui est infectée.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Le virus du sida est présent dans tous les liquides biologiques de l’organisme des personnes
              séropositives. Mais tous les liquides du corps humain n’ont pas le même pouvoir de transmission.
              Le virus est en quantité trop faible dans la salive, la sueur, les larmes, les vomissures ou l’urine pour être
              transmis. Par contre, le sang, le sperme, le liquide séminal (liquide transparent qui s’écoule au début de
              l’érection), les sécrétions vaginales, le liquide rectal et le lait maternel peuvent transmettre le VIH.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Être diagnostiqué avec le VIH est une condamnation à mort</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Les personnes vivant avec le VIH peuvent mener une vie longue, saine et productive en suivant leurs traitement.</span>  
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Les personnes vivant avec le VIH peuvent mener une vie longue, saine et productive en suivant leurs traitement.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est vrai ! Beaucoup de personnes vivent des vies saines et heureuses avec le VIH.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Si détecté tôt, vous pouvez vivre de nombreuses années avec le VIH.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est correct, il vaut mieux le découvrir plus tôt pour prévenir que le VIH ne se transforme en SIDA. Il est
              plus facile alors de mener une vie normale.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Tu peux reconnaitre si quelqu'un est séropositif.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">On ne peut pas reconnaitre quelqu’un de séropositif a son apparence physique.</span>  
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Il n'y a aucun moyen de regarder une personne et de déterminer si elle a le VIH.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">On peut parfois reconnaitre des éruptions cutanées et des ulcérations des ganglions et de la langue
              chez certaines personnes infectées depuis plus de deux semaines.</span>
          </TrueOrFalse>
        </div>

        <div class="col-6 pb-4">
          <p>Je peux être avec un partenaire qui est séropositif si nous prenons tous les deux des précautions pendant les rapports sexuels.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">En se protégeant correctement et surtout si le/la partenaire prend régulièrement ses médicaments le
              risque de contamination est alors quasi nul. Si malgré ces précautions le doute vous envahis, n’hésitez
              pas à vous faire tester gratuitement et demandez conseil au centre médical le plus proche. I existe
              aujourd’hui un traitement post-exposition, il doit être débuté le plus vite possible après l&#39;exposition au
              risque, au mieux dans les 4 heures, au plus tard dans les 48 heures.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Vous pouvez contracter le VIH de la mère à l'enfant pendant la grossesse, l'accouchement et l'allaitement.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est vrai. Mais il existe aujourd’hui des traitements que la femme enceinte peut prendre pour prévenir
              la transmission du virus à l’enfant.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Les homosexuels sont tous séropositifs.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">C’est faux. La majorité des homosexuels ne sont pas infectés.</span>  
          </TrueOrFalse>
        </div>

        <div class="col-6 pb-4">
          <p>L’homosexualité est une préférence sexuelle qui n’as pas plus d’effet sur l’infectiosité que celle des hétérosexuels.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">L’orientation sexuelle des gens ne les rend pas plus sensibles au virus. Cependant la pratique sexuelle
              entre hommes est considérée comme plus risquée. C’est dû au possible lésions des muqueuses durant
              l’acte sexuel non protégé.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Être séropositif signifie que je ne peux jamais avoir d'enfants.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">C&#39;est faux. Pour les femmes prenant un traitement régulier le risque de transmission du virus à l&#39;enfant
              est de moins d&#39;un pourcent. Pour les hommes avec le virus les spermatozoïdes sont séparés du reste du
              liquide séminal et ensuite inséminés artificiellement chez la femme pour une grossesse normale. Il est
              donc possible pour un couple vivant avec le virus d’avoir des enfants sains.</span>  
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Le séropositif doit discuter avec un spécialiste pour décider des choix à faire pour
            avoir un enfant.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Oui dans les deux cas (pour l’homme et pour la femme) les procédures ne sont pas simples et doivent
              faire l’objet d’une étude médicale.</span>
          </TrueOrFalse>
        </div>
      </div>
      <p>
             <b>EXTRA :</b>
             Apres l’exercice, discutez les réponses. Est ce que certaines réponses vous ont surprises ?
             Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
             <router-link :to="{ name: 'lesson', params: { id: 1, view: 'echange' } }">Discussion</router-link>.
             
      </p>

      <h4 class="font-weight-bold">A ton avis</h4>
      <p>Individuellement ou en petits groupes, discutez les questions ci-dessous et écrivez votre opinion en 2-3 phrases complètes. </p>
      <ul>
        <li>Une amie te dit que sa mère a contracte le VIH et qu’elle est enceinte. Que lui conseilles-tu?</li>
        <li>TON cousin vient te parler de sa première expérience sexuelle avec sa petite copine non-protégée. Qu’est-ce que tu peux lui conseiller ? Avez-vous les mêmes expériences ?</li>
        <li>Est-ce normal que les gens évitent d’avoir des contact avec les séropositifs?</li>
        <li>Que feras tu si quelqu’un de proche te faisait part de son inquiétude d’avoir été infecté par le VIH ?</li>
        <li>Comment expliquerez-vous le VIH/SIDA a votre petit(e) frère/sœur ou quelqu’un plus jeune que toi ?</li>
      </ul>
    </div>

    <lessons-menu next-view="retenir" previous-view="creation"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import TrueOrFalse from '../../TrueOrFalse'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    TrueOrFalse
  }
}
</script>
