<template>
  <div class="d-flex">
    <div>
      <h3 class="title">RETENIR</h3>
<p>Dans cette leçon, nous en avons appris plus sur le VIH et le SIDA : quels sont les risques
d’infections, comment on peut se protéger, comment dépister, comment rechercher des services
de conseil et de soutien médical et comment traiter les séropositifs. Nous avons appris que le
VIH est un virus qui, s'il n'est pas traité, peut évoluer vers le sida et qu'il est important
d'effectuer un dépistage précoce pour pouvoir recevoir le meilleur traitement.
Nous avons également appris qu'il est important de traiter les personnes vivant
avec le VIH avec respect et d'apprendre aux autres à ne pas les stigmatiser.
</p>
<p>Qu’est–ce qu’on peut apprendre du texte ci-dessus ? Prenez note des informations importantes et comparez-les avec les messages clés de la thématique et des exercices :</p>
<ul>
<li>Le VIH est un virus qui attaque le système immunitaire du corps humain.</li>
      <li>Si le virus n'est pas contrôlé ou stoppé, le système immunitaire ne peut plus se défendre contre les infections, ce stade se nomme SIDA.</li>
      <li>Le VIH se transmet principalement par relations sexuelles non protégées, le partaged'aiguilles, le contact direct avec le sang et d'une mère enceinte ou allaitante infectée à l'enfant.</li>
      </ul>
    </div>

    <lessons-menu next-view="engagement" previous-view="quiz" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
