<template>
  <div class="d-flex">
    <div>
      <h3 class="title">THÉMATIQUE</h3>
        <P>L'acronyme VIH signifie « virus de l'immunodéficience humaine ».</p>
<P>L'acronyme SIDA signifie « syndrome d'immunodéficience acquise ».</P>
<P>Le VIH est un virus qui attaque le système immunitaire du corps humain. Le système immunitaire est la façon naturelle de se maintenir à l'abri de l’infection. Quand une personne a le VIH, cette défense se décompose, ce qui signifie qu'ils tombent malades plus souvent et plus sévèrement que les personnes qui n'ont pas le VIH. Si le virus n'est pas contrôlé ou stoppé, le système immunitaire ne peut plus se défendre contre les infections, ce stade se nomme SIDA.</P>
<P>Le VIH se transmet principalement par relations sexuelles non protégées, le partage d'aiguilles, le contact direct avec le sang et d'une mère enceinte ou allaitante infectée à l'enfant. On peut se protéger par l'utilisation de préservatifs et en ne partageant pas des aiguilles. Vous ne pouvez pas contracter le VIH en jouant avec ou en étant près de quelqu'un qui est séropositif. Le virus ne se transmet pas par le partage des choses comme des lunettes ou de l’argenterie, par la toux ou les éternuements, à travers les larmes, la salive ou l’urine, ou une piqûre d’insecte. Les personnes séropositives méritent d'être traités comme tout le monde.</P>
        <P>Afin de déterminer si une personne est infectée par le VIH, un test doit être effectué dans un centre de santé.</p>
    </div>
    <lessons-menu next-view="echange" previous-view="episode"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
