<template>
  <div>
    <div class="row header">
      <router-link :to="{ name:'orientation' }"><img class="logo my-auto" src="../../assets/logoBlue.png" alt="MVMC logo"></router-link>
      <div class="dropdown ml-auto">
        <span class="btn drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font-awesome-icon icon="bars"/>
          <span class="ml-1">Menu</span>
        </span>
        <div class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton">
          <router-link class="dropdown-item" :to="{ name: 'carte' }">Carte</router-link>
          <router-link class="dropdown-item" :to="{ name: 'parent' }">Parent</router-link>
          <router-link class="dropdown-item" :to="{ name: 'faq' }">Faq</router-link>
          <router-link class="dropdown-item" :to="{ name: 'glossaire' }">Glossaire</router-link>
        </div>
      </div>
    </div>

    <div class="row content">
      <div class="sidebar h-100">
        <ul class="nav flex-column">
          <router-link tag="li" :to="{ name: 'lesson', params: { id: 1, view: 'introduction' } }"
                       class="nav-item" :class="{ active: lessonId === 1 }">
            <a class="nav-link">Puberté</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'lesson', params: { id: 2, view: 'introduction' } }"
                       class="nav-item" :class="{ active: lessonId === 2 }">
            <a class="nav-link">Estime de soi</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'lesson', params: { id: 3, view: 'introduction' } }"
                       class="nav-item" :class="{ active: lessonId === 3 }">
            <a class="nav-link">Relations Saines</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'lesson', params: { id: 4, view: 'introduction' } }"
                       class="nav-item" :class="{ active: lessonId === 4 }">
            <a class="nav-link">Planification familiale</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'lesson', params: { id: 5, view: 'introduction' } }"
                       class="nav-item" :class="{ active: lessonId === 5 }">
            <a class="nav-link">IST/VIH</a>
          </router-link>
        </ul>
      </div>

      <router-view class="lesson h-100 p-5"/>
    </div>
  </div>
</template>

<script>
import 'bootstrap'
import { FontAwesomeIcon } from '../../../node_modules/@fortawesome/vue-fontawesome'

export default {
  components: {
    FontAwesomeIcon
  },
  computed: {
    lessonId () {
      return this.$route.params.id
    }
  }
}
</script>

<style lang="scss" scoped>
.header,
.sidebar {
  &,
  a {
    color: #fff;
    font-family: Dosis;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.header {
  background-color: #f99741;
  height: 80px;
  line-height: 80px;
}

.dropdown {
  padding-right: 2rem;
}

.drop {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropdown-menu {
  background: #f99741;
  border: none;
  border-radius: 0 0 0 0;
  line-height: 2;
  margin-top: .9rem;
  width: 160px;
}
.last-item {
  margin-bottom: -8px;
}
.dropdown-item:hover {
  background: #169eff;
  color: #fff;
}
.content {
  background-color: #fef4e1;
  height: calc(100% - 80px);
}

.sidebar {
  background-color: #169eff;
  width: 240px;

  li {
    & {
      border-top: 3px solid #fff;
    }

    &:last-child {
      border-bottom: 3px solid #fff;
    }

    &.active {
      a {
        background: #f99741;
        color: #fff;
      }
    }

    a {
      padding: .5rem 2rem;

      &:hover {
        background: #f99741;
        color: #fff;
      }
    }
  }
}

.lesson {
  overflow-y: scroll;
  width: calc(100% - 255px);
  background: url(../../assets/bgGeneral.png);
}

.logo {
  display: block;
  height:75px;
  padding-left: 2rem;
  padding-top:0.5rem;
}

</style>
