<template>
  <div>
    <component :is="currentComponent" class="px-5 h-100"/>
  </div>
</template>
<script>
export default {
  computed: {
    currentComponent () {
      let view = this.$route.params.view
      return () => import(`../../components/lessons/${this.$route.params.id}/${view[0].toUpperCase()}${view.slice(1)}`)
    }
  }
}
</script>

<style lang="scss">
.introduction1 {
  background: url(../../assets/ruth.png) 100% top / contain no-repeat;
}
.introduction2 {
  background: url(../../assets/assiba.png) 100% top / contain no-repeat;
}
.introduction3 {
  background: url(../../assets/bio.png) 100% top / contain no-repeat;
}
.introduction4 {
  background: url(../../assets/lina.png) 100% top / contain no-repeat;
}
.introduction5 {
  background: url(../../assets/paulin.png) 100% top / contain no-repeat;
}
.lesson .title {
  color: #169eff;
}
</style>
