<template>
  <div id="app" class="h-100">
    <router-view class="h-100"/>
  </div>
</template>

<style lang="scss">
$primary: #169eff;

@import url('https://fonts.googleapis.com/css?family=Delius|Dosis:400,600,800');
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Dosis;
}

h4 {
  font-weight: bold;
}

a.btn-primary {
  border: none;
  font-family: Dosis;
}

a.btn-lg {
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .7rem 3.5rem;
}

.card {
  border: none;
}

.columns-two > div:nth-child(odd) {
  border-right: 3px solid #f99741;
}
.font-weight{
  font-weight:bold;
}
</style>
