<template>
  <div class="d-flex">
    <div>
     <h3 class="title">CREATION</h3>
      <h3 class="font-weight">Sur l’ordinateur</h3>
<p>Dans l’épisode, Paulin Assiba et Lina discutent des causes, des résultats et des
conséquences de la grossesse précoce. C’est à votre tour d’élaborer sur le sujet !
</p>
<p><b>Étape 1 :</b> Relisez attentivement les explications dans la<router-link :to="{ name: 'lesson', params: { id: 4, view: 'thematique' } }">Thématique</router-link></p>
<p><b>Étape 2 :</b> Faites un nombre pair de groupes en fonction du nombre d’ordinateurs disponibles. Le
 premier groupe ouvre le Powerpoint 1 et le deuxième groupe le Powerpoint 2. Chaque Powerpoint a une liste de
‘savoir-faire’ pour la planification familiale.
</p>
<p>Votre activité est d’illustrer sur cette liste les actions que vous allez prendre.
Utilisez des mots des images ou des photos pour détaillez chacun des 3 savoirs faire.
</p>
<ul>
<p class="font-weight">Diapo 1 :</p>
<li>Adopter une attitude responsables face à la grossesse</li>
<li>Prendre des précautions contraceptives</li>
<li>Prendre contact avec un centre de planning familial</li>
</ul>
<ul>
<p class="font-weight">Diapo 2 :</p>
<li>Maitriser les techniques d’utilisation de chaque méthode contraceptive </li>
<li>Choisir une méthode appropriée face à une situation donnée </li>
<li>Communiquer avec son partenaire des méthodes de contraception</li>
   </ul>
<p><b>Étape 3 :</b> Si vous travaillez sur du papier, dessinez ou écrivez les mots ou les images
pour représenter votre interprétation des ‘savoir-faire’ de votre liste. Si vous travaille
z sur l'ordinateur, vous pouvez taper ou trouvez des imagines sur l’Internet et les mettre
en page dans le PowerPoint. Prenez la liberté de décorer et améliorer la présentation de votre travail.
</p>
    <h3> Sur papier</h3>
<p>Dans l’épisode Lina, Assiba et Paulin se sont donnés des conseils
sur la bonne conduite à suivre pour une meilleure planification familiale
afin d’éviter la grossesse précoce.
</P>
<P>Faites comme eux et prenez soin de vos propres relations et conseillez les personnes
qui vous sont proches. Pensez à des préoccupations et des frustrations que vous pourriez
avoir autour du sujet de la planification familiale. Cela vous aider à réaliser que vous
n’êtes probablement pas seuls à avoir ces inquiétudes .Ayez confiance en vous et renforcez
vos acquis pour aider vos amis avec vos bons conseils et idées.
</P>
    <P><b>Etape 1 :</b> Faites une liste de vos propres préoccupations en prenant exemple de ces questions :</P>
<ul>
<li>Qu’est-ce qui vous inquiète le plus sur la grossesse et les méthodes contraceptives ?</li>
<li>Qu’est ce qui vous fais peur par rapport à la planification familiale ?</li>
<li>Quelles importances ont ces préoccupations sur vos actions au quotidien ?</li>
</ul>
<p><b>Etape 2 :</b> Echangez votre liste avec celle d’un(e) camarade. Pensez à comment répondre a ses préoccupations et identifier des personnes ressources qui pourraient l’aider.</p>
    <p><b>Etape 3 :</b> Formulez une liste de conseils en utilisant les idées de l’étape 2. Trouvez une façon de présenter ces conseils avec des phrases courtes, ou des slogans.</p>
<p><b>Etape 4 :</b> Formez des petits groupes de 4-5 et faites une liste des 5 meilleurs slogans
sur un grand papier (ou plusieurs pages collées ensemble). Appliquez-vous à la présentation
de votre poster et quand tout le monde a fini faites en la présentation comme pour une campagne de sensibilisation.
</p>
    </div>
    <lessons-menu next-view="Quiz"  previous-view="echange"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
