<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉCHANGE</h3>
     <h4 class="font-weight">relations saines</h4>
<p>Formez plusieurs groupes et parler des étapes, des avantages et des conséquences de la planification familiale.
Faites une présentation orale ou prenez notes des résultats de votre discussion afin de comparer avec d’autres groupes.
</p>
<p><b>Etape 1 :</b> Formez au moins 3 groupes de 5 personnes</p>
<p><b>Etape 2 :</b> Répondez aux questions suivantes :</p>
<ul>
<li>Quelles sont les étapes de planification familiale ?</li>
<li>Quelles sont les différentes méthodes de contraception ?</li>
<li>Quels sont leurs modes d’emploi ?</li>
<li>Quels sont leurs avantages et inconvénients ?</li>
<li>Quelles sont les conséquences de l’Avortement Provoqué Clandestin (APC) ?</li>
</ul>
<p><b>Etape3 :</b> Discutez et présentez les réponses aux questions avec la classe</p>
<h4 class="font-weight">Jeu de rôles</h4>
<P>Dans l’épisode, vous avez vu que Paulin, Assiba et Lina ont discuté sur les
conséquences de l’absence de planification familiale.
</P>
<P>Suivez le jeu de rôle ci-dessous, qui explore un autre élément de la planification familiale :</P>
<p class="font-weight">Exemple :</p>
<P>
Osseni, Hova et Irma sont assis ensemble à l'école après une leçon. Irma parle de la façon
dont les choses se passent avec son petit ami. Ils veulent bientôt se marier, avoir des en
fants et commencer une vie ensemble! Osseni et Hova sont surpris! Irma est encore toute
jeune, se disent-lis. Ils demandent à Irma si elle et son petit ami ont discuté des responsabilités
liées à la fondation d’une famille. Ils lui demandent également si elle connaît les méthodes de contraception
qui lui permettrait de mieux planifier l’arrivée d’un enfant. Les trois amis ont une discussion sur les avantages
de la planification familiale et ils donnent des exemples de mesures pour bien planifier.
</P>
<P>
En prenant exemple de ce contexte, si vous étiez les amis d’Irma, que diriez-vous ? Et si vous étiez Irma,
que répondriez-vous ?
</P>
<P><b>Étape 1 : </b>En groupes ouverts, composez une liste des étapes importantes pour planifier une famille.</P>
<P><b>Etape 2 : </b>Choisir un binôme (deux exemples) pour représenter ou illustrer la scène. Former des groupes de 5-10 pour un travail collectif. Chaque groupe prend un ou deux qualités.</P>
<P><b>Etape 3 : </b>Répondez aux questions suivantes :</P>
<ul>
<li>Citez les personnages de la scène</li>
<li>Quelles sont les étapes pour planifier une famille?</li>
<li>Quelles sont les risques et les conséquences d’une grossesse précoce?</li>
<li>Quelles sont les méthodes qui aident à bien planifier(par exemple, les méthodes contraceptives) ?</li>
<li>Quels peuvent être les avantages de la planification familiale pour Irma et ses amis?</li>
</ul>
<P><b>Étape 4 : </b>Avec cela, faites un jeu de rôle illustrant comment utiliser une planification familiale efficace au quotidien. </P>
<P><b>Étape 5 :</b> Chaque groupe présente son jeu de rôle devant les autres groupes.</P>
<P><b>Étape 6 : </b>Quand tous les groupes auront fini leurs présentations, donnez vos impressions ou menez une discussion sur le jeu de rôles :</P>
<ul>
<li>Est-ce que vous vous reconnaissez dans cette histoire ?</li>
<li>Est-ce que cela traduit la réalité ?</li>
<li>Avez-vous une autre fin pour l’histoire ?</li>
</ul>
    </div>
    <lessons-menu next-view="creation" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
