<template>
  <div class="d-flex">
    <div>
     <h3 class="title">ENGAGEMENT</h3>
     <h4>Êtes-vous prêt à vous engager?</h4>
<p>Prenez l’engagement d’adopter une de ces déclarations.</p>
<p>Un engagement est une déclaration formulée pour exprimer sa volonté à respecter une promesse.
C’est une action personnelle et c'est donc à vous de choisir librement de vous engager. Au début,
ce ne sera pas facile ! Mais n'abandonnez pas, essayez à nouveau jusqu'à ce que cela vienne naturellement.
</p>
<p>Vous pouvez inventer vos propres engagements ou utiliser les suggestions ci-dessous.</p>
<p>JE M’ENGAGE À :</p>
    <ul class="list-unstyled">
<li>«PROMOUVOIR LES AVANTAGES DE LA PLANNIFICATION FAMILIALE ENVERS MES PROCHES» ;</li>
<li>«CHOISIR LA MÉTHODE DE PLANIFICATION FAMILIALE APPROPRIÉE» ;</li>
<li>«CHOISIR UNE SEXUALITÉ RESPONSABLE, ET FAIRE RESPECTER MES CHOIX EN TOUTES CIRCONSTANCES».</li>
    </ul>
  </div>
    <lessons-menu />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
