<template>
  <div class="d-flex">
    <div>
      <h3 class="title">ÉPISODE</h3>
      <video controls class="w-100">
        <source src="../../../assets/lesson4.mp4">
      </video>
      <div class="mt-3">
        <p>Lina, Paulin et Assiba discutent la planification familiale.
          Ils parlent de la grossesse précoce et des méthodes de contraception et des conséquences
          d’absence de planning familial. Ils pensent allez voir Mme Bintou pour étoffer leur présentation
          sur le planning familial, mais ils trouvent une foule d’information utiles dans l’application MVMC.
        </p>
        <p>Questions après la pièce histoire </p>
        <ul>
          <li>Quelle aurait été ta contribution à la discussion de Lina, Paulin and Assiba ?</li>
          <li>Que sais-tu de la planification familiale ? As-tu de bons exemples à suivre ?</li>
          <li>Connais-tu quelqu’un qui n’as pas su faire bonne utilisation de la planification <br>familiale ?</li>
        </ul>
      </div>
    </div>
    <lessons-menu next-view="thematique" previous-view="introduction" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
