<template>
  <div class="introduction">
    <h3>Objectifs de la leçon :</h3>
<ul>
<li>Grossesse ;</li>
<li>Méthodes contraceptives.</li>
</ul>
<h3>Savoir :</h3>
<ul>
<li>Connaitre les différentes étapes de la grossesse ;</li>
<li>Connaitre les signes cliniques d’une grossesse ;</li>
<li>Être conscient des conséquences liées à une grossesse précoce ;</li>
<li>Identifies les grossesses à risques;</li>
<li>Décrire les répercussions psychosociales d’une grossesse précoce <br>pour la mère, le père et l’enfant ;</li>
<li>Connaitre les conséquences de l’Avortement Provoqué Clandestin (APC) ;</li>
<li>Comprendre l’importance de la planification familiale ;</li>
<li>Connaitre les méthodes de contraception ;</li>
<li>Décrire le mode d’emploi des méthodes de contraception ;</li>
<li>Connaitre les avantages et inconvénients des méthodes de contraception ;</li>
<li>Comprendre l’importance de l’espacement des naissances.</li>
</ul>
<h3>Savoir- faire :</h3>
<ul>
<li>Adopter une attitude responsables face à la grossesse ;</li>
<li>Prendre des précautions contraceptives ;</li>
<li>Prendre contact avec un centre de planning familial ;</li>
<li>Maitriser les techniques d’utilisation de chaque méthode contraceptive ;</li>
<li>Choisir une méthode appropriée face à une situation donnée ;</li>
<li>Communiquer avec son partenaire des méthodes de contraception.</li>
</ul>
<h3>Savoir- être :</h3>
<ul>
<li>Prendre conscience de la nécessité et des modalités de la prise en charge médicale des adolescents en cas de grossesse ;</li>
<li>Prendre conscience de l’importance de la planification familiale.</li>
</ul>
    <router-link :to="{ name: 'lesson', params: { id: 4, view: 'episode' } }" class="btn btn-primary btn-lg mt-3">Commencer la leçon</router-link>
   <a class="btn btn-secondary btn-lg mt-3" target="_blank" href="/planification/professeur.pdf">Professeurs</a>
  </div>
</template>

<style lang="scss">
.introduction {
  background: url(../../../assets/ruth.png) 100% center no-repeat;
}
</style>
