<template>
  <div class="d-flex">
    <div>
      <h3 class="title">QUIZZ</h3>

      <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
      <p>Vous le savez bien, tout le monde a quelque chose à dire sur ces sujets, mais parfois ces affirmations ne sont pas le bon exemple à suivre. Il est important de savoir reconnaitre les mythes pour ne pas se laisser prendre au piège.</p>
      <p>Marquez si les phrases suivantes sont des mythes ou des réalités.</p>
      <div class="columns-two row align-items-stretch">
        <div class="col-6 pb-4">
          <p>Avoir plus d'enfants à un âge précoce aide à la fertilité.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Les adolescentes enceintes encourent plus de risques que les autres femmes de par leur jeune âge. La
              mortalité maternelle et néonatale est plus élevée et les jeunes filles peuvent voir leurs conditions socio-
              familiales se détériorer. Les complications liées à la grossesse telles que l&#39;hypertension, l&#39;anémie,
              l&#39;infection, l&#39;accouchement prématuré et la dépression, sont d&#39;autant plus fréquentes.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>L’utilisation de la contraception bloque le plaisir sexuel.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">Les différents types de contraceptions pour les garçons et pour les filles peuvent au début avoir un effet
              psychologique négatif. Mais ce n’est pas scientifiquement prouvé que l’utilisation de contraceptif sur le
              long terme réduise la libido des partenaires sexuels.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>L'utilisation de la contraception prévient les IST, fait les grossesses et n'affecte pas le plaisir sexuel.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est juste pour vous tester. Bien sur l&#39;utilisation de la contraception protège des IST et prévient les
              grossesses. Si vous avez répondus à la question précédente vous savez alors aussi que les contraceptifs
              n’ont pas d’effets prouvés sur la libido.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Démarrer une famille le plus tôt possible ne comporte aucun risque.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">En plus des différents risques physiques que comportent les grossesses précoces pour les filles, faire un
              enfant c’est s’engager à lui offrir le meilleur afin de lui permettre d’être un être épanoui et enrichissant
              pour la communauté. Les enfants ne demandent pas à naitre, ils subissent notre choix conscient de les
              accueillir et de leur offrir un futur. Prendre cet engagement trop jeune c’est souvent limiter ses propres
              options de développement.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Une grossesse précoce peut avoir des conséquences médicales et psychologiques sur les jeunes femmes.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Les complications de la grossesse et de l’accouchement sont la deuxième cause de décès chez les
              jeunes filles âgées de 15 à 19 ans dans le monde, indique l’OMS. Les risques psychologiques sont fort lié
              au contexte socio-économique auquel les jeunes couples auront à faire face.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Discuter de la planification familiale est seulement utile une fois que vous avez une famille.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">C’est plutôt l’inverse, la contraception vous donne le choix du moment où vous voulez prendre la
              responsabilité de fonder une famille. Bien entendus la contraception des parents est également
              primordiale car elle permet de contrôler son destin.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Les méthodes de contraception peuvent être utilisées par les hommes et les femmes.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Pour les hommes la méthode la plus efficace de se protéger des IST et de protéger sa partenaire d’une
              grossesse précoce est le préservatif. Pour les femmes il y a plus d’options comme le femidom
              (préservatif pour les femmes), la pilule, le stérilet, l’anneau, ect. Parmi ces options il n’y a que le
              préservatif et le femidom qui protègent des IST.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>La pilule contraceptive peut rendre stérile.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">La pilule contraceptive ne rend pas stérile qu’elle soit prise quelques mois ou de nombreuses années. À
              son arrêt, le corps a parfois besoin d’un cycle ou deux pour retrouver son rythme naturel et permettre
              une grossesse.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>La plupart des contraceptifs sont disponibles sans prescription.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">Dans tous les centres de planning familial vous recevrez des conseils personnalisés sur les différentes
              méthodes contraceptives disponibles dans votre région. Pour la plupart de ces méthodes il n’y a pas
              besoin de prescription médicales.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Deux méthodes seulement, le préservatif masculin et féminin protège contre le VIH/SIDA.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est vrai ! Partager son intimité c’est se rendre vulnérable. Ce partage est aussi un respect envers
              son/sa partenaire de prendre les bonnes mesures afin de le/la protéger. On peut être porteur d’une IST
              sans s’en rendre compte.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Une méthode contraceptive n’est efficace que quand elle est chère.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe">
            <span class="font-italic">C’est faux ! Bien qu’il vaille mieux s’assurer de la qualité de la méthode employée, cela ne veut pas pour
              autant dire qu’elle doit être chère. Vérifiez les dates de péremptions sur les emballages. Pour les
              préservatifs vérifiez que l’emballage ne soit pas percé ou endommagé.</span>
          </TrueOrFalse>
        </div>
        <div class="col-6 pb-4">
          <p>Le moyen le plus sûr d’éviter les grossesses indésirées et les IST est de ne pas avoir de rapports
            sexuels vaginaux, buccogénitaux ou anaux.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité">
            <span class="font-italic">C’est vrai. Il ne faut pas céder à la pression des pairs, notre sexualité nous appartient et il nous
              appartient aussi de décider quand et avec qui la découvrir. Rien ne presse, vous avez tout votre temps !</span>
          </TrueOrFalse>
        </div>
      </div>
      <p>
      <b>EXTRA :</b>
       Apres l’exercice, discutez de vos réponses. Est ce que certaines réponses vous ont surprises ? Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
      <router-link :to="{ name: 'lesson', params: { id: 4, view: 'echange' } }">Discussion</router-link>.
      </p>

      <h4 class="font-weight-bold">A ton avis</h4>
      <p>Individuellement ou en petits groupes, discutez les questions ci-dessous et écrivez votre opinion en 2-3 phrases complètes. </p>
      <ul>
        <li>Une amie te parle d’une grossesse précoce dans sa famille. Que lui conseilles-tu ?</li>
        <li>Ton cousin vient te parler de sa première expérience sexuelle avec sa petite copine. Qu’est-ce que tu peux lui conseiller ? Avez-vous les mêmes expériences ?</li>
        <li>À ton avis, est-ce normal que les adolescents aient des enfants ?</li>
        <li>Que feras tu si ton/ta partenaire te parles d’avoir un enfant alors que tu n’es pas<br> prêt(e) ?</li>
        <li>Comment expliquerais-tu la planification familiale à ton/ta petit(e) frère/sœur ou à quelqu’un de plus jeune que toi ?</li>
      </ul>
    </div>

    <lessons-menu next-view="retenir" previous-view="creation"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import TrueOrFalse from '../../TrueOrFalse'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    TrueOrFalse
  }
}
</script>
