<template>
  <div class="d-flex">
    <div>
      <h3 class="title">QUIZZ</h3>

      <h4 class="font-weight-bold">Quizz basé sur les faits</h4>
      <p>Vous le savez bien, tout le monde a quelque chose à dire sur ces sujets, mais parfois ces affirmations ne sont pas le bon exemple à suivre. Il est important de savoir reconnaitre les mythes pour ne pas se laisser prendre au piège.</p>
      <p>Marquez si les phrases suivantes sont des mythes ou des réalités.</p>
      <div class="columns-two row align-items-stretch">
        <div class="col-6 pb-4">
          <p>Avoir plus d'enfants à un âge précoce aide à la fertilité.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe"/>
        </div>
        <div class="col-6 pb-4">
          <p>L’utilisation de la contraception bloque le plaisir sexuel.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe"/>
        </div>
        <div class="col-6 pb-4">
          <p>L'utilisation de la contraception prévient les IST, fait les grossesses et n'affecte pas le plaisir sexuel.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité"/>
        </div>
        <div class="col-6 pb-4">
          <p>Démarrer une famille le plus tôt possible ne comporte aucun risque.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe"/>
        </div>
        <div class="col-6 pb-4">
          <p>Une grossesse précoce peut avoir des conséquences médicales et psychologiques sur les jeunes femmes.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité"/>
        </div>
        <div class="col-6 pb-4">
          <p>Discuter de la planification familiale est seulement utile une fois que vous avez une famille.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe"/>
        </div>
        <div class="col-6 pb-4">
          <p>Les méthodes de contraception peuvent être utilisées par les hommes et les femmes.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Réalité"/>
        </div>
        <div class="col-6 pb-4">
          <p>La pilule contraceptive peut rendre stérile.</p>
          <TrueOrFalse first="Mythe" second="Réalité" correct="Mythe"/>
        </div>
      </div>
      <p>
      <b>EXTRA :</b>
       Apres l’exercice, discutez de vos réponses—est ce que certaines réponses vous ont surprises ? Si oui, lesquelles ? Si non, pourquoi ? Comparez vos réponses à celles de la section
      <router-link :to="{ name: 'lesson', params: { id: 4, view: 'echange' } }">Discussion</router-link>.
      </p>

      <h4 class="font-weight-bold">A ton avis</h4>
      <p>Individuellement ou en petits groupes, discutez les questions ci-dessous et écrivez votre opinion en 2-3 phrases complètes. </p>
      <ul>
        <li>Une amie te parle d’une grossesse précoce dans sa famille. Que lui conseilles-tu ?</li>
        <li>Ton cousin vient te parler de sa première expérience sexuelle avec sa petite copine. Qu’est-ce que tu peux lui conseiller ? Avez-vous les mêmes expériences ?</li>
        <li>À ton avis, est-ce normal que les adolescents aient des enfants ?</li>
        <li>Que feras tu si ton/ta partenaire te parles d’avoir un enfant alors que tu n’es pas<br> prêt(e) ?</li>
        <li>Comment expliquerais-tu la planification familiale à ton/ta petit(e) frère/sœur ou à quelqu’un de plus jeune que toi ?</li>
      </ul>
    </div>

    <lessons-menu next-view="retenir" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'
import TrueOrFalse from '../../TrueOrFalse'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu,
    TrueOrFalse
  }
}
</script>
