
<template>
  <div class="d-flex">
    <div>
     <h3 class="title">RETENIR</h3>
      <p>Dans cette leçon, nous en avons appris plus sur la planification familiale, ce que cela signifie
et quels outils peuvent être utilisés pour planifier correctement une famille. Nous avons également
pris connaissance de certaines des conséquences d’une mauvaise planification familiale sur la santé
médicale et psychosociale. Avec cette connaissance, on peut prendre conscience de la nécessité et
des modalités de la prise en charge médicale des adolescents en cas de grossesse et de l’importance de la planification familiale.
</p>
<p>Que peut-on apprendre du texte ci-dessus ?</p>
<p>Prenez note des informations importantes et comparez-les avec les messages clés de la thématique et des exercices :</p>
    <ul>
    <li>Planifier les naissances au sein de la famille est très important pour protéger la santé de la mère et des enfants.</li>
    <li>Il existe des méthodes qui permettent d’éviter chez la femme des grossesses rapprochées ou encore indésirables.</li>
    <li>Le gouvernement du Bénin préconise la planification familiale dans son plan sanitaire national.</li>
    <li>La contraception est un moyen d’éviter ou d’espacer les naissances.  Il existe aussi plusieurs méthodes</li>
    <li>Un avortement est une interruption prématurée d’une grossesse</li>
    </ul>
    </div>

    <lessons-menu next-view="engagement" />
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
