<template>
  <div class="d-flex">
    <div>
<h3 class="title">THÉMATIQUE</h3>
      <P>
Planifier les naissances au sein de la famille est très important pour protéger la santé
de la mère et des enfants. Pour cela, il existe des méthodes qui permettent d’éviter chez
la femme des grossesses rapprochées ou encore indésirables. Le gouvernement du Bénin préconise
la planification familiale dans son plan sanitaire national. Au Bénin, la Planification Familiale
est un ensemble de mesures et de moyens mis à la disposition des individus, des couples et de la
communauté pour :
</P>
<ul>
<li>Permettre à chacun d’avoir le nombre d’enfants voulus, au moment voulu ;</li>
<li>Offrir aux couples infertiles ou stériles la possibilité de procréer ; </li>
<li>Permettre une prise en charge responsable de la sexualité y compris la prévention des Infections Sexuellement Transmissibles (IST) et du Virus d’Immunodéficience Humaine (VIH) /sida. </li>
</ul>
<p>Elle comporte :</p>
<ul>
<li>La contraception ;</li>
<li>La prévention et le traitement de l’infertilité et de la stérilité ;</li>
<li>La prévention et le traitement des pathologies sexuelles y compris les IST et le VIH / sida.</li>
</ul>
<p>La contraception est un moyen de prévenir ou d’espacer les naissances.
Il existe aussi plusieurs méthodes « naturelles » de contraception telles
que le retrait ou l’abstinence périodique. Il y a le préservatif ou condom
pour l’homme et le préservatif féminin ou femidom pour la femme. Le condom,
c’est un tube en latex très fin dans lequel on introduit le sexe masculin en
érection. Pour les femmes, il existe l’équivalent: le fémidom que l’on introduit
dans le vagin. Il y a aussi des pilules que la femme peut quotidiennement. Quelle
que soit la méthode que vous choisissez, n’oubliez pas que le préservatif
(masculin ou féminin) est le seul contraceptif qui protège du VIH et de la plupart
des autres IST. Il peut également être associé à un autre mode de contraception :
c’est ce qu’on appelle la « double protection ».
</p>
<p>Un avortement est une interruption prématurée d’une grossesse :</p>
<ul>
 <li>si l’interruption se fait spontanément, on parle d’une fausse couche ;</li>
 <li>si elle se fait artificiellementpour des raisons strictement médicales, on dit que c’est un avortement provoqué ; </li>
  <li>si elle se fait pour des raisons non exclusivement médicales, on parle alors d’une interruption
volontaire de grossesse.</li>
</ul>
    </div>
   <lessons-menu next-view="echange" previous-view="episode"/>
  </div>
</template>

<script>
import FontAwesomeIcon from '../../../../node_modules/@fortawesome/vue-fontawesome'
import LessonsMenu from '../Menu'

export default {
  components: {
    FontAwesomeIcon,
    LessonsMenu
  }
}
</script>
